<div>
  <section>
    <org-banner [bannerData]="organisationBanner"></org-banner>
  </section>
  <section class="bg-section" *ngIf="organisationData.organisation_id != null">
    <div class="container">
      <div class="col-12 text-center project-info-container">
        <p class="primary-badge" *ngIf="organisationData['organisation_type']">
          <!-- Type of organisation: {{ OrganisationData["organisation_type"] }} -->
          Type of organisation: {{ organisationData["organisation_type"] }}
        </p>
        <p class="regular-l">
          Name of organisation: {{ organisationData["name"] }}
        </p>
        <p class="regular-m">
          About organisation: {{ organisationData["about"] }}
        </p>
        <p class="regular-m">
          Email of organisation: {{ organisationData["email"] }}
        </p>
        <p class="regular-s">
          Website URL of organisation: {{ organisationData["website_url"] }}
        </p>
      </div>
    </div>
  </section>

  <section class="navigation-container">
    <div class="sticky-navigation">
      <div class="container">
        <ul class="navigation-tabs">
          <li class="active" (click)="tabs_selected('story')">Story</li>
          <li (click)="tabs_selected('FAQ')">Listings</li>
          <li (click)="tabs_selected('updates')">Events</li>
          <li (click)="tabs_selected('comments')">Opportunities</li>
          <li (click)="tabs_selected('skills')">Discussion</li>
        </ul>
      </div>
    </div>
  </section>
</div>
