<div>
  <section>
    <org-banner [bannerData]="organisationBanner"></org-banner>
  </section>
  <section class="bg-section" *ngIf="organisationData.organisation_id != null">
    <div class="container">
      <div class="col-12 text-center project-info-container">
        <p class="primary-badge" *ngIf="organisationData['organisation_type']">
          {{ organisationData['organisation_type'] }}
        </p>
      </div>
      <h2>Listings supported by {{ organisationData.name }}</h2>
      <div *ngIf="listings.length > 0; else noListings">
        <app-listing-grid [listings]="listings" [colNum]="4"></app-listing-grid>
      </div>
      <ng-template #noListings>
        <h3>{{ organisationData.name }} does not have any listings at the moment.</h3>
      </ng-template>
    </div>
  </section>
</div>

<!--
    <section class="navigation-container">
    <div class="sticky-navigation">
      <div class="container">
        <ul class="navigation-tabs">
          <li class="active" (click)="tabs_selected('story')">Story</li>
          <li (click)="tabs_selected('FAQ')">Listings</li>
          <li (click)="tabs_selected('updates')">Events</li>
          <li (click)="tabs_selected('comments')">Opportunities</li>
          <li (click)="tabs_selected('skills')">Discussion</li>
        </ul>
      </div>
    </div>
  </section>
-->
