<section *ngIf="ProfileDetails != null" class="container block-content">
  <div class="d-flex justify-content-between flex-wrap">
    <div class="d-flex">
      <div class="profile-image">
        <img src="{{ ProfileDetails.profile_picture }}" />
      </div>
      <div class="user-details">
        <p class="name">{{ ProfileDetails.nickname }}</p>
        <p *ngIf="ProfileDetails.occupation != null" class="position">
          {{ ProfileDetails.occupation }}
        </p>
        <p *ngIf="ProfileDetails.occupation == null" class="position">Newbie</p>
      </div>
    </div>

    <div class="profile-stats">
      <div class="stats">
        <p>{{ StartedArr.length }}</p>
        <span>Initiatives</span>
      </div>
      <div class="stats">
        <p>{{ LikedArr.length }}</p>
        <span>Following</span>
      </div>
    </div>
  </div>

  <div *ngIf="ProfileDetails.about != null" class="border-top-card">
    <label>About</label>
    <p>
      {{ ProfileDetails.about }}
    </p>
  </div>
</section>
<div class="set-min-height">
  <section *ngIf="StartedArr.length != 0" class="container block-content">
    <div class="col-12">
      <h2>Initiatives I’ve Started</h2>
    </div>
    <app-listing-cards [ListingData]="StartedArr"></app-listing-cards>
  </section>

  <section *ngIf="LikedArr.length != 0" class="container block-content">
    <div class="col-12">
      <h2>Initiatives I’ve Liked</h2>
    </div>
    <app-listing-cards [ListingData]="LikedArr"></app-listing-cards>
  </section>
</div>
