<section>
  <main-search></main-search>
</section>
<section class="container block-content">
  <h2>Featured Projects</h2>
  <app-banner></app-banner>
</section>
<section class="container block-content">
  <h2>More Projects</h2>
  <app-listing-grid [listings]="listingList" [colNum]="4"></app-listing-grid>
  <div class="category-section">
    <p class="section-title light-xl">Organisations</p>
    <p class="section-description light-s">Discover organisations and their programmes and listings!</p>
  </div>
  <app-organisation-grid [organisations]="organisationList" [colNum]="4"></app-organisation-grid>
</section>
