<div class="search-bar container mb-3 mt-5">
  <div class="back-btn" (click)="goBack()"></div>
  <mat-form-field class="full-width search-input">
    <input
      matInput
      placeholder="What are you looking for?"
      [(ngModel)]="searchInput"
      (keydown.enter)="searchInitiated()"
    />
  </mat-form-field>
  <a class="search-btn ml-3" (click)="searchInitiated()"></a>
</div>
<div class="container">
  <div class="suggested-search">
    <p class="label">Popular Searches</p>
    <ul>
      <li
        *ngFor="let popular of popularSearchList"
        (click)="popularSearchClicked(popular)"
      >
        {{ popular }}
      </li>
    </ul>
  </div>
</div>
<div class="container" style="min-height: 100vh">
  <div *ngIf="resultsArr != null">
    <p class="result-text">
      <b>{{ resultsCount }}</b> Initiatives found for <b>{{ resultsInputString }}</b>
      <br>
      Locations searched: <b>{{ resultsLocString }}</b>
      <br>
      Categories: <b> {{ resultsCatString }} </b>
    </p>
    <app-listing-cards [ListingData]="resultsArr"></app-listing-cards>
  </div>
</div>
