<div class="d-flex flex-wrap listing-card-wrapper">
  <div
    [className]="'px-2 col-lg-' + colNum"
    *ngFor="let listing of listingData"
  >
    <div (click)="selectedCard(listing)" class="listing-card">
      <img src="{{ listing.pics[0] }}" />
      <div class="listing-card-body">
        <div>
          <p class="small-badge">{{ listing.category }}</p>
          <p class="title medium-s">{{ listing.listing_title }}</p>
          <p class="tagline light-xs">{{ listing.tagline }}</p>
        </div>

        <div *ngIf="listing.locations && listing.locations.length > 0">
          <div class="locationtags-list">
            <div class="location-icon"></div>
            <ul>
              <li
                class="light-xs"
                *ngFor="let location of listing.locations"
              >
                {{ location }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <button class="edit-btn" (click)="editListing(listing)">
        Edit Listing
      </button>
    </div>
  </div>
</div>
