<section class="bg-section" *ngIf="listingData.listing_id != null">
  <div class="container">
    <div class="col-12 text-center project-info-container">
      <p class="primary-badge">{{ category }}</p>
      <p class="regular-l">{{ title }}</p>
      <p class="light-m mission">{{ mission }}</p>
    </div>
    <div class="d-flex flex-wrap">
      <div class="col-lg-8">
        <app-image-carousel
          *ngIf="pics && pics.length > 0"
          [SliderImages]="pics"
        ></app-image-carousel>
      </div>
      <div class="col-lg-4">
        <div class="project-sidebar-container">
          <div>
            <div class="project-status-container">
              <p class="project-status project-open bold-xs">Project Ongoing</p>
            </div>
            <p class="light-m">{{ tagline }}</p>
            <div class="hashtags-list">
              <ul *ngIf="tagsArr && tagsArr.length > 0">
                <li *ngFor="let tag of tagsArr" class="light-xs">
                  {{ tag }}
                </li>
              </ul>
            </div>
            <div *ngIf="locationsArr && locationsArr.length > 0" class="locationtags-list">
              <div class="location-icon"></div>
              <ul>
                <li class="light-xs" *ngFor="let location of locationsArr">
                  {{ location }}
                </li>
              </ul>
            </div>

            <div class="button-container">
              <div *ngIf="
                authService.isLoggedIn &&
                createdBy == authService.LoggedInUserID;
                else isNotOwner">
                  <button class="primary-button" (click)="editListing(this.listingId)">
                    Edit this listing
                  </button>
              </div>
                <ng-template #isNotOwner>
                  <button class="primary-button" (click)="togglePopup()">
                    Enquire this project
                  </button>
                </ng-template>
            </div>

            <div *ngIf="isLiked">
              <p (click)="handle_like()" class="light-xs like-btn liked">
                {{ likesArr.length }} Likes
              </p>
            </div>
            <div *ngIf="!isLiked">
              <p (click)="handle_like()" class="light-xs like-btn">
                {{ likesArr.length }} Likes
              </p>
            </div>

          </div>

          <div *ngIf="listingData">
            <div
              class="user-info"
              (click)="clickOnProfile(createdBy)"
            >
              <div class="profile-image">
                <img src="{{ profilePicture }}" />
              </div>

              <p class="username light-s">
                {{ nickname }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="milestoneArr && milestoneArr.length > 0">
    <div class="milestone-timeline container">
      <app-milestones
        *ngIf="milestoneArr"
        [MilestoneArr]="milestoneArr"
      ></app-milestones>
    </div>
  </div>
</section>

<section class="navigation-container">
  <div class="sticky-navigation">
    <div class="container">
      <ul class="navigation-tabs">
        <li class="active" (click)="tabs_selected('story')">Story</li>
        <li (click)="tabs_selected('FAQ')">FAQ</li>
        <li (click)="tabs_selected('updates')">Updates</li>
        <li (click)="tabs_selected('comments')">Comments</li>
        <li (click)="tabs_selected('skills')">Opportunities</li>
      </ul>
    </div>
  </div>
</section>

<section class="container block-content pt-4">
  <div class="col-12">
    <!-- Tab Navigation Content -->
    <!-- Skills -->
    <div class="tabs-content" id="skills">
      <div *ngIf="jobsArr && jobsArr.length > 0">
        <div class="skills-item" *ngFor="let job of jobsArr">
          <p class="job-title medium-s">
            {{ job.job_title }}
          </p>
          <p class="job-description light-s">
            {{ job.job_description }}
          </p>
        </div>
      </div>
    </div>
    <!-- Story -->
    <div class="tabs-content" id="story">
      <h3 class="primary-badge">Overview</h3>
      <div *ngIf="listingData" style="margin-bottom: 20px;">
        <div class="CMS-editor">
          <div id="result-overview"></div>
        </div>
      </div>
      <h3 class="primary-badge">Problem</h3>
      <div *ngIf="listingData" style="margin-bottom: 20px;">
        <div class="CMS-editor">
          <div id="result-problem"></div>
        </div>
      </div>
      <h3 class="primary-badge"> Solution</h3>
      <div *ngIf="listingData" style="margin-bottom: 20px;">
        <div class="CMS-editor">
          <div id="result-solution"></div>
        </div>
      </div>
      <h3 class="primary-badge">Outcome</h3>
      <div *ngIf="listingData" style="margin-bottom: 20px;">
        <div class="CMS-editor">
          <div id="result-outcome"></div>
        </div>
      </div>
    </div>
    <!-- FAQ -->
    <div class="tabs-content" id="FAQ">
      <div *ngIf="faqArr && faqArr.length > 0" class="faq-container">
        <div *ngFor="let faq of faqArr" class="faq-item">
          <b class="regular-s">
            {{ faq.question }}
          </b>
          <p class="light-s">
            {{ faq.answer }}
          </p>
        </div>
      </div>
    </div>
    <!-- Updates -->
    <div class="tabs-content" id="updates">
      <div
        *ngIf="
          authService.isLoggedIn &&
          createdBy == authService.LoggedInUserID
        "
        class="updates-input"
      >
        <div class="d-flex justify-content-end">
          <button
            class="outline-btn btn"
            (click)="updatesFormOpen = !updatesFormOpen"
          >
            Post Update
          </button>
        </div>
        <div *ngIf="updatesFormOpen" style="padding: 1rem">
          <div class="custom-input">
            <label class="input-label">Images (Maximum of 5)</label>
            <div class="d-flex flex-wrap align-items-start mt-2 image-output">
              <div
                *ngFor="let file of updateImagesDisplay; index as i"
                class="image-container"
                (click)="removeImage(i)"
              >
                <img src="{{ file }}" />
              </div>

              <div
                *ngIf="fileLimit == false"
                class="custom-file-upload-container"
              >
                <label for="file-upload" class="custom-file-upload"> </label>
                <input
                  type="file"
                  accept="image/*"
                  id="file-upload"
                  (change)="uploadImage($event)"
                />
              </div>
            </div>
          </div>

          <mat-form-field class="full-width">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="3"
              [(ngModel)]="updateInput"
            ></textarea>
          </mat-form-field>
          <div class="d-flex justify-content-end">
            <button class="yellow-btn" (click)="postUpdate()">Submit</button>
          </div>
        </div>
      </div>

      <div *ngIf="updatesArr && updatesArr.length > 0">
        <div
          *ngFor="let update of updatesArr; let i = index"
          class="update-card"
        >
          <div class="card-head">
            <div class="d-flex align-items-center updates-user-info">
              <div class="profile-image">
                <img src="{{ profile_picture }}" />
              </div>
              <div class="ml-3">
                <p class="user regular-s">by {{ nickname }}</p>
                <p class="datetime light-xs">
                  {{ update.updated_on | date: "d MMM y" }}
                </p>
              </div>
            </div>
            <div>
              <p class="datetime light-xs">
                {{ getDiffInTime(update.updated_on) }}
              </p>
            </div>
          </div>
          <div class="card-content">
            <app-update-carousel
              [SliderImages]="update.pics"
            ></app-update-carousel>
            <div class="text-content">
              <p class="light-s">
                {{ update.description }}
              </p>
            </div>
          </div>
          <div
            *ngIf="
              authService.isLoggedIn == true &&
              createdBy == authService.LoggedInUserID
            "
            class="d-flex justify-content-end p-1"
          >
            <button (click)="deleteUpdate(update)" class="red-btn btn">
              Delete Update
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Comments -->
    <div class="tabs-content" id="comments">
      <div *ngIf="authService.isLoggedIn == true" class="comments-input">
        <mat-form-field class="full-width">
          <mat-label>Comments</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="3"
            [(ngModel)]="commentInput"
          ></textarea>
        </mat-form-field>
        <div class="d-flex justify-content-end">
          <button class="yellow-btn" (click)="postComment()">Submit</button>
        </div>
      </div>
      <div *ngIf="commentsArr != []" class="comments-container">
        <div *ngFor="let comment of commentsArr; index as i">
          <div *ngIf="comment.reply_to_id == null" class="comments-card">
            <div class="avatar-container updates-user-info">
              <div class="profile-image">
                <img
                  *ngIf="comment.profile_picture != null"
                  src="{{ comment.profile_picture }}"
                />
                <img
                  *ngIf="comment.profile_picture == null"
                  src="https://www.nicepng.com/png/full/128-1280406_view-user-icon-png-user-circle-icon-png.png"
                />
              </div>
            </div>
            <div class="ml-3" style="flex: 1">
              <div class="comments-info">
                <div class="d-flex justify-content-between mb-2">
                  <p
                    (click)="clickOnProfile(comment.user_id)"
                    class="username medium-s"
                  >
                    <span
                      *ngIf="comment.user_id == listingData.created_by"
                      class="owner-badge"
                      >Project Owner</span
                    >
                    {{ comment.nickname }}
                  </p>
                  <p class="time light-xs">
                    {{ comment.updated_on | date: "d MMM y" }}
                  </p>
                </div>
                <p class="comments light-s">
                  {{ comment.comment }}
                </p>
              </div>
              <button
                class="reply-btn btn"
                (click)="comment.openbox = !comment.openbox"
              >
                Reply
              </button>
              <button
                *ngIf="comment.user_id == authService.LoggedInUserID"
                class="delete-btn btn"
                (click)="deleteComments(comment)"
              >
                Delete
              </button>
              <div
                *ngIf="
                  authService.isLoggedIn == true && comment.openbox == true
                "
                class="comments-input reply-input mt-2"
              >
                <mat-form-field class="full-width">
                  <mat-label>Reply to</mat-label>
                  <textarea
                    matInput
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="3"
                    [(ngModel)]="replyInput"
                  ></textarea>
                </mat-form-field>
                <div class="d-flex justify-content-end">
                  <button
                    class="yellow-btn"
                    (click)="
                      replyComment(comment);
                    "
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Child Comments -->
          <div *ngFor="let reply of commentsArr">
            <div
              class="child-container"
              *ngIf="reply.reply_to_id == comment.listing_comment_id"
            >
              <div class="comments-card">
                <div class="avatar-container updates-user-info">
                  <div class="profile-image">
                    <img
                      *ngIf="reply.profile_picture != null"
                      src="{{ reply.profile_picture }}"
                    />
                    <img
                      *ngIf="reply.profile_picture == null"
                      src="https://www.nicepng.com/png/full/128-1280406_view-user-icon-png-user-circle-icon-png.png"
                    />
                  </div>
                </div>
                <div class="ml-3" style="flex: 1">
                  <div class="comments-info">
                    <div class="d-flex justify-content-between mb-2">
                      <p
                        class="username medium-s"
                        (click)="clickOnProfile(reply.user_id)"
                      >
                        <span
                          *ngIf="reply.user_id == listingData.created_by"
                          class="owner-badge"
                          >Project Owner</span
                        >

                        {{ reply.nickname }}
                      </p>
                      <p class="time light-xs">
                        {{ reply.updated_on | date: "d MMM y" }}
                      </p>
                    </div>
                    <p class="comments light-s">
                      {{ reply.comment }}
                    </p>
                  </div>
                  <button
                    *ngIf="reply.user_id == authService.LoggedInUserID"
                    class="delete-btn btn"
                    (click)="deleteComment(reply)"
                  >
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Tab Navigation Content -->
  </div>

  <div class="popup-bg"></div>
  <div class="popup-box">
    <div class="close-btn" (click)="togglePopup()"></div>
    <p class="popup-title">Enquire about {{ title }}</p>
    <div class="fields-container">
      <mat-form-field class="full-width">
        <mat-label>Your Topic</mat-label>
        <input matInput [(ngModel)]="enquireTopic" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Your Message</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="10"
          cdkAutosizeMaxRows="10"
          [(ngModel)]="enquireMessage"
        ></textarea>
      </mat-form-field>
    </div>
    <a class="btn yellow-btn mt-5" (click)="sendMessage()">Send Message</a>
  </div>
</section>
