// Comments
.comments-container {
  .comments-card {
    display: flex;
    align-items: flex-start;
    margin-bottom: 3rem;
    p {
      margin: 0;
    }
    .username {
      font-size: 1.2rem;
      font-weight: bold;
      padding-bottom: 0.25rem;
      cursor: pointer;
    }
    .time {
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.5);
    }
    .reply-btn {
      padding: 0;
      margin-top: 1rem;
      margin-right: 1rem;
      color: rgba(0, 0, 0, 0.5);
      &:hover {
        text-decoration: underline;
      }
      &:focus {
        outline: none !important;
      }
    }
    .delete-btn {
      padding: 0;
      margin-top: 1rem;
      color: #b33a3a;
      &:hover {
        text-decoration: underline;
      }
      &:focus {
        outline: none !important;
      }
    }
  }

  .child-container {
    border-left: 1px solid black;
    padding-left: 5rem;
    @media (max-width: 991px) {
      padding-left: 2rem;
    }
  }
}
.comments-input,
.updates-input {
  max-width: 100%;
  margin-bottom: 3rem;
  .full-width {
    width: 100% !important;
  }
  .yellow-btn {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
  }
}

// FAQ
.faq-container {
  .faq-item {
    margin-bottom: 4rem;
    b {
      display: block;
      font-size: 1.3rem;
      padding-bottom: 1rem;
      font-weight: 600;
    }
    p {
      color: #6b6b6b;
    }
  }
}

.custom-input {
  padding-bottom: 2rem;
  label {
    background-color: white;
    border: none;
    padding: 0;
    margin: 0;
  }
  .input-label {
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
  .custom-file-upload-container {
    .custom-file-upload {
      border: 1px dashed rgba(0, 0, 0, 0.5);
      height: 180px;
      width: 180px;
      border-radius: 25px;
      position: relative;
      cursor: pointer;
      &:after {
        content: "\f067";
        font-family: "Font Awesome\ 5 Free";
        font-size: 2rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: rgba(0, 0, 0, 0.5);
      }
    }
    input {
      display: none;
    }
  }
}

.image-output {
  .image-container {
    height: 180px;
    width: 180px;
    border-radius: 25px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &:hover {
      &:after {
        cursor: pointer;
        content: "\f068";
        font-family: "Font Awesome\ 5 Free";
        font-weight: 900;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(0, 0, 0, 0.54);

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}

// popup
.popup-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  /* Add the blur effect */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.popup-box {
  display: none;
  padding: 2rem;
  width: 40%;
  min-width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  .popup-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .full-width {
    width: 100%;
  }
  .close-btn {
    display: inline-block;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    cursor: pointer;
    &:after {
      content: "\f00d";
      font-family: "Font Awesome\ 5 Free";
      font-weight: 900;
      font-size: 1.5rem;
    }
  }
}

.popup-bg.active {
  display: block;
}
.popup-box.active {
  display: block;
}

// Revamp
$grey: #f5f5f5;
$primary: #4f8a8b;
.bg-section {
  background-color: $grey;
  padding: 3rem 0;
  // border-bottom: 1px solid #c4c4c4;
}
.project-info-container {
  margin-bottom: 2rem;
  .mission {
    margin: 0 auto;
    text-transform: capitalize;
    @media (min-width: 991px) {
      width: 80%;
    }
  }
}
.project-sidebar-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  @media (min-width: 991px) {
    padding-left: 1rem;
  }
  @media (max-width: 991px) {
    padding-top: 2rem;
  }
  .user-info {
    display: flex;
    cursor: pointer;
    .profile-image {
      margin-right: 0.5rem;
      img {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
      }
    }
    .username {
      margin: 0;
    }
  }
  .like-btn {
    cursor: pointer;
    &:before {
      content: "\f004";
      font-family: "Font Awesome\ 5 Free";
      font-weight: 400;
      padding-right: 0.5rem;
      color: $primary;
    }
  }
  .liked {
    &:before {
      font-weight: 900;
    }
  }
}

.project-status-container {
  display: flex;
  justify-content: space-between;
}
.project-status {
  display: inline-block;
  margin-bottom: 0;
  padding: 0.5rem 1rem;
  font-weight: 900;
  text-transform: capitalize;
  color: white;
  margin-bottom: 1rem;
  &:before {
    content: "\f017";
    font-family: "Font Awesome\ 5 Free";
    font-weight: 400;
    margin-right: 0.5rem;
  }
}
.project-open {
  background: #3282b8;
}
.project-close {
  background: #2e4057a9;
}

.navigation-container {
  position: relative;
  .sticky-navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid #c4c4c4;
    background-color: white;
    z-index: 100;
    overflow: auto;
  }
  .sticky-active {
    position: fixed;
  }
  .navigation-tabs {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      text-transform: capitalize;
      display: block;
      padding: 1rem 0;
      margin: 0 1rem;
      cursor: pointer;
      font-weight: 400;
      font-size: 1rem;
      white-space: pre;
    }
    .active {
      font-weight: 700;
      padding: 1rem;
      border-bottom: 3px solid black;
    }
    li:first-child {
      margin-left: 0;
    }
  }
}

.tabs-content {
  padding: 3rem 0;
  padding-top: 5rem;
  display: none;
  p {
    white-space: pre-line;
  }
  label {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 4rem 0 2rem 0;
    text-transform: capitalize;
  }
}

.owner-badge {
  font-weight: 400;
  font-size: 0.9rem;
  // background-color: #088366;
  background-color: #ffd461;
  color: black;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
}

// Updates Card
.update-card {
  padding: 1rem;
  margin-bottom: 5rem;
  .card-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #d9d9d9;
    padding: 0 1rem;
    padding-bottom: 1.5rem;
    p {
      margin: 0;
    }
    .user {
      padding-bottom: 0.25rem;
    }
    .datetime {
      color: rgba(0, 0, 0, 0.5);
    }
  }
  .card-content {
    .text-content {
      margin: 4rem 1rem 3rem 1rem;
    }
  }
}

// Looking for
.skills-item {
  margin-bottom: 2rem;
  p {
    margin: 0;
  }
  .job-title {
    background: $primary;
    display: inline-block;
    padding: 0.5rem 2rem;
    padding-left: 2.5rem;
    color: white;
    position: relative;
    transform: translateY(50%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1;
    &:before {
      content: "\f0eb";
      font-family: "Font Awesome\ 5 Free";
      font-weight: 400;
      font-size: 1.5rem;
      color: white;
      background: $primary;
      height: 60px;
      width: 60px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      left: 0;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .job-description {
    position: relative;
    padding: 2rem;
    padding-top: 3rem;
    background: $grey;
    border-radius: 5px;
    white-space: pre-line;
  }
}
