<app-banner></app-banner>

<section class="container block-content">
  <div class="col-12">
    <h2>Your Favourites</h2>
  </div>
  <!-- <app-listing-cards></app-listing-cards> -->
</section>

<section class="container block-content">
  <div class="col-12">
    <h2>Fresh Finds</h2>
  </div>
  <div class="category-list col-12">
    <ul>
      <li class="active">No poverty</li>
      <li class="active">Animal welfare</li>
      <li class="active">Community</li>
      <li>Health</li>
      <li>Sports</li>
      <li>Education</li>
      <li>disability</li>
      <li>Environment</li>
      <li>Social service</li>
      <li>families</li>
      <li>Children & youth</li>
    </ul>
  </div>
  <app-listing-cards
    *ngIf="ListingsService.ListingData != null"
    [ListingData]="ListingsService.ListingData"
  ></app-listing-cards>
</section>

<section class="container block-content mb-5">
  <div class="col-12 text-center">
    <img src="../../assets/images/loading.gif" />
  </div>
</section>
