<div class="milestone-container">
  <div class="milestone-item">
    <p class="date">May 2020</p>
    <p class="milestone">Kickstarter campaign Starts</p>
  </div>
  <div class="milestone-item">
    <p class="date">July 2020</p>
    <p class="milestone">End of campaign and start of collecting payment</p>
  </div>
  <div class="milestone-item">
    <p class="date">July 2020</p>
    <p class="milestone">Production of watches starts</p>
  </div>
  <div class="milestone-item">
    <p class="date">September 2020</p>
    <p class="milestone">We Ship out the watches</p>
  </div>
  <div class="milestone-item">
    <p class="date">November 2020</p>
    <p class="milestone">Kickstarter Campaign Starts</p>
  </div>
</div>
