<div class="overflow-container col-12">
  <div class="milestone-container">
    <div *ngFor="let milestone of MilestoneArr" class="milestone-item">
      <div *ngIf="!isDateBeforeToday(milestone.date)" class="milestone-content">
        <p class="date">{{ milestones.date | date: "d MMM y" }}</p>
        <p class="milestone">{{ milestone.milestone_description }}</p>
        <span class="milestone-dot"></span>
      </div>
      <div
        *ngIf="isDateBeforeToday(milestone.date)"
        class="milestone-content active"
      >
        <p class="date">{{ milestone.date | date: "d MMM y" }}</p>
        <p class="milestone">{{ milestone.milestone_description }}</p>
        <span class="milestone-dot"></span>
      </div>
    </div>
  </div>
</div>
