.listing-card-wrapper {
  padding-top: 2rem;
}
.listing-card {
  margin-bottom: 2rem;
  cursor: pointer;
  padding: 0 0.5rem;
  &:hover {
    text-decoration: none;
  }
  img {
    width: 100%;
  }
  .listing-card-body {
    padding: 1rem;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    height: 12rem;
    .category {
      // display: inline-flex;
      span {
        color: #34ad5f;
        font-size: 0.9rem;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
        display: inline-block;
      }
      // border: 0.5px solid rgba(0, 0, 0, 0.3);
      // padding: 0.25rem 0.75rem;
      // border-radius: 5px;
      margin-bottom: 0.5rem;
    }
    .title {
      color: black;
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
      //
      line-height: 1.5rem;
      max-height: 3rem;
      overflow: elipse;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-wrap;
    }
    .tagline {
      color: rgba(0, 0, 0, 0.3);
      font-size: 1rem;
      text-transform: capitalize;

      margin-top: 1rem;
      //
      line-height: 1.25rem;
      max-height: 2.5rem;
      overflow: elipse;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-wrap;
    }
  }
}
