<div class="d-flex flex-wrap listing-card-wrapper">
  <a
    *ngFor="let ListingData of ListingData"
    (click)="selectedCard(ListingData)"
    class="listing-card col-6 col-lg-4"
  >
    <img src="{{ ListingData.pic1 }}" />
    <div class="listing-card-body">
      <div class="project-status-overlay">
        <span class="project-status project-open">Project Ongoing</span>
        <span
          *ngIf="ListingData.status == 'open'"
          class="project-status project-open"
          >Project Ongoing</span
        >
        <span
          *ngIf="ListingData.status == 'close'"
          class="project-status project-close"
          >Project Completed</span
        >
      </div>

      <div class="category">
        <span>{{ ListingData.category }}</span>
      </div>
      <p class="title">{{ ListingData.title }}</p>
      <p class="tagline">{{ ListingData.tagline }}</p>
    </div>
  </a>
</div>
