<div class="d-flex flex-wrap listing-card-wrapper">
  <div class="col-lg-4 px-2" *ngFor="let ListingData of ListingData">
    <div (click)="selectedCard(ListingData)" class="listing-card">
      <img src="{{ ListingData.pic1 }}" />
      <div class="listing-card-body">
        <!-- <div class="project-status-overlay">
          <span class="project-status project-open">Project Ongoing</span>
          <span
            *ngIf="ListingData.status == 'open'"
            class="project-status project-open"
            >Project Ongoing</span
          >
          <span
            *ngIf="ListingData.status == 'close'"
            class="project-status project-close"
            >Project Completed</span
          >
        </div> -->
        <div>
          <p class="small-badge">{{ ListingData.category }}</p>
          <p class="title medium-s">{{ ListingData.title }}</p>
          <p class="tagline light-xs">{{ ListingData.tagline }}</p>
        </div>

        <div *ngIf="ListingData.locations">
          <div class="locationtags-list">
            <div class="location-icon"></div>
            <ul>
              <li
                class="light-xs"
                *ngFor="let location of ListingData.locations"
              >
                {{ location }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
