<section *ngIf="ProfileDetails != null" class="container block-content">
  <div class="text-right">
    <a class="btn outline-btn" routerLink="/edit-profile">Edit Profile</a>
  </div>

  <div class="d-flex justify-content-between flex-wrap">
    <div class="d-flex">
      <div class="profile-image">
        <img src="{{ ProfileDetails.profile_picture }}" />
      </div>
      <div class="user-details">
        <p class="name">{{ ProfileDetails.nickname }}</p>
        <p *ngIf="ProfileDetails.interest != null" class="position">
          {{ ProfileDetails.interest }}
        </p>
        <p *ngIf="ProfileDetails.interest == null" class="position">Newbie</p>
      </div>
    </div>

    <div class="profile-stats">
      <div class="stats">
        <p>{{ StartedArr.length }}</p>
        <span>Initiatives</span>
      </div>
      <div class="stats">
        <p>{{ LikedArr.length }}</p>
        <span>Following</span>
      </div>
    </div>
  </div>

  <div *ngIf="ProfileDetails.about != null" class="border-top-card">
    <label>About</label>
    <p>
      {{ ProfileDetails.about }}
    </p>
  </div>
</section>

<section *ngIf="StartedArr.length != 0" class="container block-content">
  <div class="col-12">
    <h2>
      Initiatives I’ve Started
    </h2>
  </div>
  <app-edit-listing-cards [ListingData]="StartedArr"></app-edit-listing-cards>
</section>

<section *ngIf="LikedArr.length != 0" class="container block-content">
  <div class="col-12">
    <h2>
      Initiatives I’ve Liked
    </h2>
  </div>
  <app-listing-cards [ListingData]="LikedArr"></app-listing-cards>
</section>
