.image-container {
  &:focus {
    outline: none;
  }
  img {
    width: 100%;
  }
}
// Slick
.carousel-slider {
  .image-container {
    display: flex;
    align-items: center;
    height: 450px;
    width: 100%;
    background-color: black;
    @media (max-width: 991px) {
      height: 300px;
    }
    img {
      min-height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

video {
  height: 100%;
  width: 100%;

  &:focus {
    outline: none;
  }
}
