<div class="slick-belt">
  <div class="banner">
    <img src="../../../assets/images/banner.png" />
    <div class="banner-overlay">
      <div class="container">
        <p class="category">No poverty</p>
        <p class="title">Project Kampong</p>
        <p class="tagline">
          Connecting like-minded individuals for social good
        </p>
      </div>
    </div>
  </div>
  <div class="banner">
    <img src="../../../assets/images/banner.png" />
    <div class="banner-overlay">
      <div class="container">
        <p class="category">No poverty</p>
        <p class="title">Project Kampong</p>
        <p class="tagline">
          Connecting like-minded individuals for social good
        </p>
      </div>
    </div>
  </div>
  <div class="banner">
    <img src="../../../assets/images/banner.png" />
    <div class="banner-overlay">
      <div class="container">
        <p class="category">No poverty</p>
        <p class="title">Project Kampong</p>
        <p class="tagline">
          Connecting like-minded individuals for social good
        </p>
      </div>
    </div>
  </div>
</div>
