<div class="slick-belt" *ngIf="featuredData != []">
  <div
    *ngFor="let listing of featuredData; let i = index"
    class="banner"
    routerLink="/listing/{{ listing.listing_id }}"
  >
    <span *ngIf="i == featuredData.length - 1">{{ sliderSlickInit() }}</span>
    <img src="{{ listing.pic1 }}" />
    <div class="banner-overlay">
      <div class="info-box">
        <div>
          <p class="primary-badge">{{ listing.category }}</p>
          <p class="medium-m title">{{ listing.title }}</p>
          <p class="light-s tagline">
            {{ listing.tagline }}
          </p>
        </div>
        <div *ngIf="listing.locations.length > 0">
          <div class="locationtags-list">
            <div class="location-icon"></div>
            <ul>
              <li class="light-xs" *ngFor="let location of listing.locations">
                {{ location }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
