.banner {
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    width: 60%;
    @media (max-width: 991px) {
      width: 100%;
      height: 300px;
    }
  }
  .banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;

    @media (max-width: 991px) {
      position: relative;
      padding: 0;
      padding-bottom: 1rem;
      width: 100%;
    }
    .category {
      display: inline-block;
      color: #34ad5f;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 0.25rem 1rem;
      border-radius: 5px;
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
      margin-right: 10px;
      display: inline-block;
      margin-bottom: 0.5rem;
      max-height: 50px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .title {
      color: white;
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
      max-height: 130px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .tagline {
      color: white;
      font-size: 1.3rem;
      font-weight: 400;
      max-height: 130px;
      height: 130px;
      text-transform: capitalize;
      text-overflow: ellipsis;
      overflow: hidden;

      @media (max-width: 991px) {
        font-size: 1.3rem;
        max-width: 100%;
        height: auto !important;
      }
    }
  }

  .info-box {
    // height: 360px;
    // width: 420px;
    // margin-left: 70px;
    // margin-top: 20px;
    // margin-bottom: 20px;
    padding: 2rem;
  }

  .view-btn-box {
    border: white;
    border-style: solid;
    border-radius: 10px;
  }

  .view-btn {
    display: inline-block !important;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    display: flex;
    align-items: center;
    margin-top: 15px;
    &:focus {
      outline: none;
    }
    svg {
      margin-left: 0.25rem;
    }
  }
}
