<section class="container block-content" *ngIf="ListingData.listing_id != null">
  <div class="d-flex flex-wrap">
    <div class="col-lg-6 pr-lg-0">
      <app-image-carousel
        *ngIf="SliderImageArr != []"
        [SliderImages]="SliderImageArr"
      ></app-image-carousel>
    </div>
    <div class="col-lg-6">
      <div class="info-container">
        <p class="category">{{ ListingData["category"] }}</p>
        <p class="title">{{ ListingData["title"] }}</p>
        <p class="tagline">
          {{ ListingData["tagline"] }}
        </p>
        <div class="category-list">
          <ul *ngIf="Hashtags != []">
            <li *ngFor="let data of Hashtags" class="active">
              {{ data.tag }}
            </li>
          </ul>
        </div>
        <div
          class="user-info"
          *ngIf="ProfileInfo != null"
          (click)="selectedProfile(ProfileInfo['user_id'])"
        >
          <div class="profile-image">
            <img src="{{ ProfileInfo.profile_picture }}" />
          </div>

          <p class="username">
            {{ ProfileInfo["nickname"] }}
          </p>
        </div>

        <div class="d-flex justify-content-between align-items-center">
          <div class="listing-stats">
            <div class="stats" *ngIf="listingLikes != null">
              <p>{{ listingLikes }}</p>
              <span>likes</span>
            </div>
            <div class="stats">
              <p>80</p>
              <span>patrons</span>
            </div>
          </div>
          <p class="like-btn" (click)="liked_clicked()"></p>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="mission">
        <svg
          width="64"
          height="56"
          viewBox="0 0 64 56"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 56C0 52.6061 0 49.2121 0 45.8182C0 42.2828 0 38.8182 0 35.4242C0 24.5354 1.59637 15.9798 4.78912 9.75758C7.98186 3.53536 13.5692 0.282833 21.551 0L25.6871 8.27274C21.1882 8.69697 18.068 10.8182 16.3265 14.6364C14.7302 18.3131 13.932 24.1818 13.932 32.2424H25.4694V56H0ZM38.3129 56C38.3129 52.6061 38.3129 49.2121 38.3129 45.8182C38.3129 42.2828 38.3129 38.8182 38.3129 35.4242C38.3129 24.5354 39.9093 15.9798 43.102 9.75758C46.2948 3.53536 51.8821 0.282833 59.8639 0L64 8.27274C59.5011 8.69697 56.3809 10.8182 54.6395 14.6364C53.0431 18.3131 52.2449 24.1818 52.2449 32.2424H63.7823V56H38.3129Z"
            fill="#F1CB4A"
          />
        </svg>

        <p>{{ ListingData["mission"] }}</p>
      </div>
    </div>
  </div>
</section>

<hr />
<section *ngIf="SkillsList.length > 0" class="container block-content">
  <div class="col-12">
    <h2>Looking For</h2>
  </div>
  <div class="category-list anti-select-category-list col-12">
    <ul>
      <li *ngFor="let skills of SkillsList">{{ skills.skill }}</li>
    </ul>
  </div>
</section>

<section class="container block-content pt-4">
  <div class="col-12">
    <ul class="navigation-tabs">
      <li class="active" (click)="tabs_selected('story')">
        Story
      </li>
      <li (click)="tabs_selected('FAQ')">
        FAQ
      </li>
      <li (click)="tabs_selected('updates')">
        Updates
      </li>
      <li (click)="tabs_selected('comments')">
        Comments
      </li>
    </ul>

    <!-- Tab Navigation Content -->
    <!-- Story -->
    <div class="tabs-content" id="story">
      <div *ngIf="Stories != null">
        <p>
          {{ Stories.overview }}
        </p>
        <label>
          Current Problem
        </label>
        <p>
          {{ Stories.problem }}
        </p>
        <label>
          Solution
        </label>
        <p>
          {{ Stories.solution }}
        </p>
        <label>
          Ideal outcome
        </label>
        <p>
          {{ Stories.outcome }}
        </p>
      </div>
      <label>
        Milestones
      </label>
      <app-milestones
        *ngIf="MilestoneArr != []"
        [MilestoneArr]="MilestoneArr"
      ></app-milestones>
    </div>
    <!-- FAQ -->
    <div class="tabs-content" id="FAQ">
      <div *ngIf="FAQList != []" class="faq-container">
        <div *ngFor="let faq of FAQList" class="faq-item">
          <b>
            {{ faq.question }}
          </b>
          <p>
            {{ faq.answer }}
          </p>
        </div>
      </div>
    </div>
    <!-- Updates -->
    <div class="tabs-content" id="updates">
      <div
        *ngIf="
          AuthService.isLoggedIn == true &&
          ListingData.created_by == AuthService.LoggedInUserID
        "
        class="updates-input"
      >
        <div class="d-flex justify-content-end">
          <button
            class="outline-btn btn"
            (click)="updatesFormOpen = updatesFormOpen ? false : true"
          >
            Post Update
          </button>
        </div>
        <div *ngIf="updatesFormOpen == true" style="padding: 1rem;">
          <div class="custom-input">
            <label class="input-label">Images (Maximum of 5)</label>
            <div class="d-flex flex-wrap align-items-start mt-2 image-output">
              <div
                *ngFor="let file of fileDisplayArr; index as i"
                class="image-container"
                (click)="removeFile(i)"
              >
                <img src="{{ file }}" />
              </div>

              <div
                *ngIf="fileLimit == false"
                class="custom-file-upload-container"
              >
                <label for="file-upload" class="custom-file-upload"> </label>
                <input
                  type="file"
                  accept="image/*"
                  id="file-upload"
                  (change)="uploadFile($event)"
                />
              </div>
            </div>
          </div>

          <mat-form-field class="full-width">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="3"
              [(ngModel)]="updatesDescription"
            ></textarea>
          </mat-form-field>
          <div class="d-flex justify-content-end">
            <button class="yellow-btn" (click)="submitUpdates()">Submit</button>
          </div>
        </div>
      </div>

      <div *ngIf="UpdatesArr != [] && ProfileInfo != null">
        <div
          *ngFor="let updates of UpdatesArr; let i = index"
          class="update-card"
        >
          <div class="card-head">
            <div class="d-flex align-items-center updates-user-info">
              <div class="profile-image">
                <img src="{{ ProfileInfo.profile_picture }}" />
              </div>
              <div class="ml-3">
                <p class="user">by {{ ProfileInfo["nickname"] }}</p>
                <p class="datetime">
                  {{ updates.updated_on | date: "d MMM y" }}
                </p>
              </div>
            </div>
            <div>
              <p class="datetime">{{ getDiffInTime(updates.updated_on) }}</p>
            </div>
          </div>
          <div class="card-content">
            <app-update-carousel
              [SliderImages]="[
                updates.pic1,
                updates.pic2,
                updates.pic3,
                updates.pic4,
                updates.pic5
              ]"
            ></app-update-carousel>
            <div class="text-content">
              <p>
                {{ updates.description }}
              </p>
            </div>
          </div>
          <div
            *ngIf="
              AuthService.isLoggedIn == true &&
              ListingData.created_by == AuthService.LoggedInUserID
            "
            class="d-flex justify-content-end p-1"
          >
            <button (click)="deleteUpdate(updates)" class="red-btn btn">
              Delete Update
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Comments -->
    <div class="tabs-content" id="comments">
      <div *ngIf="AuthService.isLoggedIn == true" class="comments-input">
        <mat-form-field class="full-width">
          <mat-label>Comments</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="3"
            [(ngModel)]="comments"
          ></textarea>
        </mat-form-field>
        <div class="d-flex justify-content-end">
          <button class="yellow-btn" (click)="submitComments()">Submit</button>
        </div>
      </div>
      <div *ngIf="CommentsArr != []" class="comments-container">
        <div *ngFor="let comments of CommentsArr; index as i">
          <div *ngIf="comments.reply_to_id == null" class="comments-card">
            <div class="avatar-container updates-user-info">
              <div class="profile-image">
                <img src="{{ ProfileInfo.profile_picture }}" />
              </div>
              <!-- <svg
                width="50"
                height="50"
                viewBox="0 0 78 78"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M66.2913 58.2824C60.2411 66.8136 50.2734 72.4286 39 72.4286C27.7266 72.4286 17.7589 66.8136 11.7087 58.2824C12.8404 50.1429 16.1484 42.9174 23.548 41.9163C27.3783 46.0949 32.9063 48.75 39 48.75C45.0938 48.75 50.6217 46.0949 54.452 41.9163C61.8516 42.9174 65.1596 50.1429 66.2913 58.2824ZM55.7143 27.8571C55.7143 37.0848 48.2277 44.5714 39 44.5714C29.7723 44.5714 22.2857 37.0848 22.2857 27.8571C22.2857 18.6295 29.7723 11.1429 39 11.1429C48.2277 11.1429 55.7143 18.6295 55.7143 27.8571ZM78 39C78 17.4542 60.5458 0 39 0C17.4542 0 0 17.4542 0 39C0 60.5022 17.4542 78 39 78C60.5893 78 78 60.4587 78 39Z"
                  fill="black"
                  fill-opacity="0.3"
                />
              </svg> -->
            </div>
            <div class="ml-3" style="flex: 1;">
              <div class="comments-info">
                <div class="d-flex justify-content-between mb-2">
                  <p
                    (click)="selectedProfile(comments.user_id)"
                    class="username"
                  >
                    <span
                      *ngIf="comments.user_id == ListingData.created_by"
                      class="owner-badge"
                      >Project Owner</span
                    >
                    {{ comments.user_id }}
                  </p>
                  <p class="time">
                    {{ comments.updated_on | date: "d MMM y" }}
                  </p>
                </div>
                <p class="comments">
                  {{ comments.comment }}
                </p>
              </div>
              <button
                class="reply-btn btn"
                (click)="comments.openbox = comments.openbox ? false : true"
              >
                Reply
              </button>
              <div
                *ngIf="
                  AuthService.isLoggedIn == true && comments.openbox == true
                "
                class="comments-input reply-input mt-2"
              >
                <mat-form-field class="full-width">
                  <mat-label>Reply to</mat-label>
                  <textarea
                    matInput
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="3"
                    [(ngModel)]="comments.replyToComments"
                  ></textarea>
                </mat-form-field>
                <div class="d-flex justify-content-end">
                  <button
                    class="yellow-btn"
                    (click)="
                      replyComments(comments); comments.replyToComments = ''
                    "
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Child Comments -->
          <div *ngFor="let reply of CommentsArr">
            <div
              class="child-container"
              *ngIf="reply.reply_to_id == comments.listing_comment_id"
            >
              <div class="comments-card">
                <div class="avatar-container">
                  <svg
                    width="50"
                    height="50"
                    viewBox="0 0 78 78"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M66.2913 58.2824C60.2411 66.8136 50.2734 72.4286 39 72.4286C27.7266 72.4286 17.7589 66.8136 11.7087 58.2824C12.8404 50.1429 16.1484 42.9174 23.548 41.9163C27.3783 46.0949 32.9063 48.75 39 48.75C45.0938 48.75 50.6217 46.0949 54.452 41.9163C61.8516 42.9174 65.1596 50.1429 66.2913 58.2824ZM55.7143 27.8571C55.7143 37.0848 48.2277 44.5714 39 44.5714C29.7723 44.5714 22.2857 37.0848 22.2857 27.8571C22.2857 18.6295 29.7723 11.1429 39 11.1429C48.2277 11.1429 55.7143 18.6295 55.7143 27.8571ZM78 39C78 17.4542 60.5458 0 39 0C17.4542 0 0 17.4542 0 39C0 60.5022 17.4542 78 39 78C60.5893 78 78 60.4587 78 39Z"
                      fill="black"
                      fill-opacity="0.3"
                    />
                  </svg>
                </div>
                <div class="ml-3" style="flex: 1;">
                  <div class="comments-info">
                    <div class="d-flex justify-content-between mb-2">
                      <p
                        class="username"
                        (click)="selectedProfile(comments.user_id)"
                      >
                        <span
                          *ngIf="reply.user_id == ListingData.created_by"
                          class="owner-badge"
                          >Project Owner</span
                        >

                        {{ reply.user_id }}
                      </p>
                      <p class="time">
                        {{ reply.updated_on | date: "d MMM y" }}
                      </p>
                    </div>
                    <p class="comments">
                      {{ reply.comment }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Tab Navigation Content -->
  </div>
</section>
