.info-container {
  @media (min-width: 1024px) {
    padding-left: 2rem;
  }
  .category {
    color: rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0.25rem 0.75rem;
    border-radius: 5px;
    display: inline-block;
  }
  .title {
    color: rgb(0, 0, 0);
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .tagline {
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.05rem;
  }
  .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  .username {
    display: inline-block;
    padding: 1rem 0;
    padding-left: 0.5rem;
    margin: 0;
    cursor: pointer;
  }

  .category-list {
    ul {
      padding: 0;
    }
    li {
      font-size: 0.9rem;
      cursor: default;
    }
  }
}

.mission {
  display: flex;
  padding-top: 4rem;
  p {
    padding-left: 5rem;
    font-size: 2rem;
    font-weight: 900;
    color: #6b6b6b;
    text-transform: capitalize;
    @media (max-width: 1024px) {
      padding-left: 2rem;
      font-size: 1.8rem;
    }
  }
  svg {
    min-width: 50px;
  }
}

.listing-stats {
  display: flex;
  align-items: center;
  .stats {
    padding: 0 1.5rem;
    text-align: center;
    border-left: 1px solid black;
    p {
      margin: 0;
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 1.5rem;
    }
    span {
      text-transform: capitalize;
    }
  }
  .stats:first-child {
    border: none;
    padding-left: 0;
  }
}

.like-btn {
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  margin: 0;
}

.navigation-tabs {
  list-style-type: none;
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  li {
    text-transform: uppercase;
    display: inline-block;
    padding: 0.25rem 0;
    margin: 0 1rem;
    cursor: pointer;
  }
  .active {
    font-weight: bold;
    border-bottom: 3px solid black;
  }
  li:first-child {
    margin-left: 0;
  }
}

.tabs-content {
  padding-bottom: 5rem;
  display: none;
  p {
    font-size: 1.2rem;
    white-space: pre-line;
  }
  label {
    font-size: 1.3rem;
    background-color: #f1cb4a;
    padding: 0.25rem 1.5rem;
    color: white;
    font-weight: 600;
    margin: 4rem 0 2rem 0;
    border-left: 0.5rem solid #bdbdbd;
  }
}

// Updates Card
.update-card {
  padding: 1rem;
  margin-bottom: 5rem;
  .card-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #d9d9d9;
    padding: 0 1rem;
    padding-bottom: 1.5rem;
    p {
      margin: 0;
    }
    .user {
      font-size: 1.2rem;
      padding-bottom: 0.25rem;
      font-weight: bold;
    }
    .datetime {
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.5);
    }
  }
  .card-content {
    .text-content {
      margin: 4rem 1rem 3rem 1rem;
    }
  }
}

// Comments
.comments-container {
  .comments-card {
    display: flex;
    align-items: flex-start;
    margin-bottom: 3rem;
    p {
      margin: 0;
    }
    .username {
      font-size: 1.2rem;
      font-weight: bold;
      padding-bottom: 0.25rem;
      cursor: pointer;
    }
    .time {
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.5);
    }
    .comments {
      font-size: 1rem;
    }
    .reply-btn {
      padding: 0;
      margin-top: 1rem;
      color: rgba(0, 0, 0, 0.5);
      &:hover {
        text-decoration: underline;
      }
      &:focus {
        outline: none !important;
      }
    }
  }
  .child-container {
    padding-left: 5rem;
  }
}
.comments-input,
.updates-input {
  max-width: 100%;
  margin-bottom: 3rem;
  .full-width {
    width: 100% !important;
  }
  .yellow-btn {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
  }
}

// FAQ
.faq-container {
  .faq-item {
    margin-bottom: 4rem;
    b {
      display: block;
      font-size: 1.3rem;
      padding-bottom: 1rem;
      font-weight: 600;
    }
    p {
      color: #6b6b6b;
    }
  }
}

// Like btn
.like-btn {
  &:before {
    content: "\f004";
    font-family: "Font Awesome\ 5 Free";
    font-weight: 400;
    padding-right: 0.5rem;
  }
  &:after {
    content: "Like";
  }
}
.liked {
  background-color: #fb3958;
  color: white;
  border: none;

  &:before {
    font-weight: 900;
    padding-right: 0.5rem;
  }
  &:after {
    content: "Liked";
  }
}

.owner-badge {
  font-weight: 400;
  font-size: 0.9rem;
  background-color: #088366;
  color: white;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
}

.custom-input {
  padding-bottom: 2rem;
  label {
    background-color: white;
    border: none;
    padding: 0;
    margin: 0;
  }
  .input-label {
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
  .custom-file-upload-container {
    .custom-file-upload {
      border: 1px dashed rgba(0, 0, 0, 0.5);
      height: 180px;
      width: 180px;
      border-radius: 25px;
      position: relative;
      cursor: pointer;
      &:after {
        content: "\f067";
        font-family: "Font Awesome\ 5 Free";
        font-size: 2rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: rgba(0, 0, 0, 0.5);
      }
    }
    input {
      display: none;
    }
  }
}

.image-output {
  .image-container {
    height: 180px;
    width: 180px;
    border-radius: 25px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &:hover {
      &:after {
        cursor: pointer;
        content: "\f068";
        font-family: "Font Awesome\ 5 Free";
        font-weight: 900;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(0, 0, 0, 0.54);

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}
