<section *ngIf="ProfileDetails != null" class="container block-content">
  <div class="d-flex flex-wrap">
    <div class="col-lg-4 order-lg-2 text-right">
      <a class="btn outline-btn" (click)="togglePopup()">Change Password</a>
    </div>
    <div class="col-lg-8 order-lg-1">
      <h3>Edit Profile</h3>

      <form [formGroup]="EditProfileForm" class="form-group">
        <div class="custom-input">
          <div class="profile-image">
            <label for="file-upload">
              <img src="{{ ProfileDetails.profile_picture }}" />
            </label>
          </div>
          <input
            type="file"
            accept="image/*"
            id="file-upload"
            (change)="uploadFile($event)"
          />
        </div>

        <mat-form-field class="full-width">
          <mat-label>Username</mat-label>
          <input matInput formControlName="nickname" required />
          <!-- Errors Validation -->
          <mat-error
            *ngIf="EditProfileForm.get('nickname').hasError('required')"
          >
            Username is required
          </mat-error>
          <mat-error
            *ngIf="EditProfileForm.get('nickname').hasError('maxlength')"
          >
            Username must not be more than 15 characters long.
          </mat-error>
          <mat-error
            *ngIf="EditProfileForm.get('nickname').hasError('pattern')"
          >
            Special characters not allowed
          </mat-error>
          <!-- End of Errors Validation -->
        </mat-form-field>

        <mat-form-field class="half-width">
          <mat-label>Date of Birth</mat-label>
          <input
            matInput
            [readonly]="true"
            [matDatepicker]="DateOfBirthPicker"
            formControlName="dob"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="DateOfBirthPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #DateOfBirthPicker></mat-datepicker>
          <!-- Errors Validation -->
          <mat-error *ngIf="EditProfileForm.get('dob').hasError('required')">
            Date Of Birth is required
          </mat-error>
          <!-- End of Errors Validation -->
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Occupation</mat-label>
          <input matInput formControlName="occupation" />
          <!-- Errors Validation -->
          <mat-error
            *ngIf="EditProfileForm.get('occupation').hasError('required')"
          >
            Occupation is required
          </mat-error>
          <mat-error
            *ngIf="EditProfileForm.get('occupation').hasError('maxlength')"
          >
            Occupation must not be more than 30 characters long.
          </mat-error>
          <mat-error
            *ngIf="EditProfileForm.get('occupation').hasError('pattern')"
          >
            Special characters not allowed
          </mat-error>
          <!-- End of Errors Validation -->
        </mat-form-field>
        <mat-form-field class="full-width text-field">
          <mat-label>About Me</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="3"
            formControlName="about"
          ></textarea>
          <!-- Errors Validation -->
          <mat-error *ngIf="EditProfileForm.get('about').hasError('required')">
            About Me is required
          </mat-error>
          <mat-error *ngIf="EditProfileForm.get('about').hasError('maxlength')">
            About Me must not be more than 1000 characters long.
          </mat-error>
          <mat-error *ngIf="EditProfileForm.get('about').hasError('pattern')">
            Special characters not allowed
          </mat-error>
          <!-- End of Errors Validation -->
        </mat-form-field>
        <button
          class="btn yellow-btn"
          [disabled]="getFormValidationErrors()"
          (click)="saveProfile()"
        >
          SAVE
        </button>
      </form>
    </div>
  </div>
  <div class="popup-bg"></div>
  <div class="popup-box">
    <div class="close-btn" (click)="togglePopup()"></div>
    <div class="fields-container">
      <mat-form-field class="full-width">
        <mat-label>Old Password</mat-label>
        <input matInput required type="password" [(ngModel)]="oldpassword" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>New Password</mat-label>
        <input matInput required type="password" [(ngModel)]="newpassword" />
      </mat-form-field>
    </div>
    <span class="error-msg" *ngIf="showErrorMsg == true">
      Invalid password, try again
    </span>
    <a class="btn yellow-btn" (click)="updatePassword()">Change Password</a>
  </div>
</section>
