
<div (click)="selectedCard()" class="listing-card">
  <img src="{{ listingData.pics[0] }}" />
  <div class="listing-card-body">
    <div>
      <p class="small-badge">{{ listingData.category }}</p>
      <p class="title medium-s">{{ listingData.listing_title }}</p>
      <p class="tagline light-xs">{{ listingData.tagline }}</p>
    </div>

    <div *ngIf="listingData.locations">
    <div class="locationtags-list">
        <div class="location-icon"></div>
        <ul>
        <li
          class="light-xs"
          *ngFor="let location of listingData.locations"
        >
            {{ location }}
        </li>
        </ul>
      </div>
    </div>
  </div>
  <button class="edit-btn" (click)="editListing()">
    Edit Listing
  </button>
</div>

  