<section class="container block-content">
  <div class="listing-creation">
    <div class="listing-section">
      <div class="listing-stepper">
        <span> 1 </span>
        <p>Project Information</p>
      </div>
      <div class="listing-form" [formGroup]="listingForm">
        <div class="form-item">
          <label>Name Of Initiative *</label>
          <input
            placeholder="Give your initiative a name"
            formControlName="title"
          />
          <span class="hint"> {{ listingForm.value.title.length }} / 50 </span>

          <!-- Errors Validation -->
          <span
            class="error-hint"
            *ngIf="listingForm.get('title').hasError('maxlength')"
          >
            Name must not be more than 50 characters long.
          </span>
          <span
            class="error-hint"
            *ngIf="listingForm.get('title').hasError('pattern')"
          >
            Special characters not allowed
          </span>
          <span
            class="error-hint"
            *ngIf="
              listingForm.get('title').hasError('required') &&
              listingForm.controls['title']?.touched
            "
          >
            Name is required
          </span>
          <!-- End of Errors Validation -->
        </div>

        <div class="form-item d-flex">
          <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select required formControlName="category">
              <mat-optgroup
                *ngFor="let group of categoryGroup"
                [label]="group.name"
                [disabled]="group.disabled"
              >
                <mat-option
                  *ngFor="let category of group.group"
                  [value]="category"
                >
                  {{ category }}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      
      <div class="no-effect">
        <mat-form-field class="hashtags-container form-item">
          <mat-chip-list #chipList aria-label="Fruit selection">
            <mat-chip
              *ngFor="let hashtag of hashtags"
              [selectable]="true"
              [removable]="removable"
              (removed)="removeHashtag(hashtag)"
            >
              {{ hashtag }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Related tags (Max. 3)"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true"
              (matChipInputTokenEnd)="addHashtag($event)"
            />
          </mat-chip-list>
          <mat-hint>
            Tag your listing to improve the visibility of your content!
          </mat-hint>
          <span *ngIf="hashtags.length >= 3" class="error"
            >Maximum 3 Tags</span
          >
        </mat-form-field>
      </div>
      
      <div class="listing-form" [formGroup]="listingForm">

        <div class="form-item">
          <label>Tagline/Slogan *</label>
          <textarea
            cdkTextareaAutosize
            cdkAutosizeMinRows="5"
            placeholder="Give your initiative a nice tagline"
            formControlName="tagline"
          >
          </textarea>
          <span class="hint">
            {{ listingForm.value.tagline.length }} / 100
          </span>
          <!-- Errors Validation -->
          <span
            class="error-hint"
            *ngIf="
              listingForm.get('tagline').hasError('required') &&
              listingForm.controls['tagline']?.touched
            "
          >
            Tagline/Slogan is required
          </span>
          <span
            class="error-hint"
            *ngIf="listingForm.get('tagline').hasError('maxlength')"
          >
            Tagline/Slogan must not be more than 100 characters long.
          </span>
          <span
            class="error-hint"
            *ngIf="listingForm.get('tagline').hasError('pattern')"
          >
            Special characters not allowed
          </span>
          <!-- End of Errors Validation -->
        </div>

        <div class="form-item">
          <label>Mission *</label>
          <textarea
            cdkTextareaAutosize
            cdkAutosizeMinRows="5"
            placeholder="What's the goal of your initiative?"
            formControlName="mission"
          >
          </textarea>
          <span class="hint">
            {{ listingForm.value.mission.length }} / 150
          </span>
          <!-- Errors Validation -->
          <span
            class="error-hint"
            *ngIf="
              listingForm.get('mission').hasError('required') &&
              listingForm.controls['mission']?.touched
            "
          >
            Mission Statement is required
          </span>
          <span
            class="error-hint"
            *ngIf="listingForm.get('mission').hasError('maxlength')"
          >
            Mission Statement must not be more than 100 characters long.
          </span>
          <span
            class="error-hint"
            *ngIf="listingForm.get('mission').hasError('pattern')"
          >
            Special characters not allowed
          </span>
          <!-- End of Errors Validation -->
        </div>
        <div class="form-item">
          <label>Contact Email *</label>
          <input
            placeholder="e.g. kampong@gmail.com"
            formControlName="listing_email"
          />

          <!-- Errors Validation -->
          <span
            class="error-hint"
            *ngIf="
              listingForm.get('listing_email').hasError('required') &&
              listingForm.controls['listing_email']?.touched
            "
          >
            Email is required
          </span>
          <span
            class="error-hint"
            *ngIf="listingForm.get('listing_email').hasError('email')"
          >
            Please Enter a Valid Email
          </span>

          <!-- End of Errors Validation -->
        </div>

        <div class="form-item">
          <label>Listing URL</label>
          <input
            placeholder="e.g. www.kampong.app"
            formControlName="listing_url"
          />

          <span
          class="error-hint"
          *ngIf="listingForm.get('listing_url').hasError('pattern')"
        >
          Website URL must be valid
        </span>

        </div>

      </div>
      <div class="no-effect">
        <div class="listing-stepper">
          <p>Where are you operating/located?</p>
        </div>

        <div class="form-item">
          <div [formGroup]="listingForm">
            <mat-form-field appearance="fill">
              <mat-label>Project Location</mat-label>
              <mat-select formControlName="locations" multiple>
                <mat-optgroup
                  *ngFor="let group of locationGroup"
                  [label]="group.name"
                  [disabled]="group.disabled"
                >
                <mat-option *ngFor="let location of group.group" [value]="location">
                  {{ location }}
                </mat-option>
              </mat-optgroup>
              </mat-select>
            </mat-form-field>
            
          </div>
        </div>
        
      </div>
    </div>

    <!-- Section 2 -->
    <div class="listing-section">
      <div class="listing-stepper">
        <span> 2 </span>
        <p>Upload Images of Your Project</p>
      </div>
      <div class="listing-form" [formGroup]="listingForm">
        <div class="form-item">
          <div class="custom-input col-lg-12">
            <label>Images* (Maximum of 5)</label>
            <div class="d-flex flex-wrap align-items-start mt-2 image-output">
              <div
                *ngFor="let img of listingImagesDisplay; index as i"
                class="image-container"
                (click)="removeImage(i)"
              >
                <img src="{{ img }}" />
              </div>

              <div
                *ngIf="listingImagesDisplay.length < 5 && listingImages.length < 5"
                class="custom-file-upload-container"
              >
                <label for="img-upload" class="custom-file-upload"> </label>
                <input
                  type="file"
                  accept="image/*"
                  id="img-upload"
                  (change)="uploadImage($event)"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Section 3 -->
    <div class="listing-section">
      <div class="listing-stepper">
        <span> 3 </span>
        <p>tell us more about your initiative</p>
      </div>
      <div class="listing-form" [formGroup]="listingForm">
        <div class="form-item">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Listing Overview
          </mat-expansion-panel-header>
          <mat-panel-description>
              <div class="CMS-editor editing-active">
                <div class="action-container">
                  <ul>
                    <li>
                      <button
                        type="button"
                        data-command="justifyLeft"
                        class="action-btn"
                      >
                        <i class="fas fa-align-left"></i>
                      </button>
                    </li>
                    <li>
                      <button
                        type="button"
                        data-command="justifyCenter"
                        class="action-btn"
                      >
                        <i class="fas fa-align-center"></i>
                      </button>
                    </li>
                    <li>
                      <button
                        type="button"
                        data-command="justifyRight"
                        class="action-btn"
                      >
                        <i class="fas fa-align-right"></i>
                      </button>
                    </li>

                    <li>
                      <button type="button" data-command="bold" class="action-btn">
                        <i class="fas fa-bold"></i>
                      </button>
                    </li>
                    <li>
                      <button
                        type="button"
                        data-command="underline"
                        class="action-btn"
                      >
                        <i class="fas fa-underline"></i>
                      </button>
                    </li>

                    <li>
                      <button
                        type="button"
                        data-command="insertOrderedList"
                        class="action-btn"
                      >
                        <i class="fas fa-list-ol"></i>
                      </button>
                    </li>

                    <li>
                      <button
                        type="button"
                        data-command="insertUnorderedList"
                        class="action-btn"
                      >
                        <i class="fas fa-list-ul"></i>
                      </button>
                    </li>

                    <li>
                      <button
                        type="button"
                        data-command="createlink"
                        class="action-btn"
                      >
                        <i class="fas fa-link"></i>
                      </button>
                    </li>

                    <li>
                      <button
                        type="button"
                        data-command="formatBlock"
                        data-size="H1"
                        class="action-btn"
                      >
                        <i>H1</i>
                      </button>
                    </li>

                    <li>
                      <button
                        type="button"
                        data-command="formatBlock"
                        data-size="H2"
                        class="action-btn"
                      >
                        <i>H2</i>
                      </button>
                    </li>

                    <li>
                      <button
                        type="button"
                        data-command="formatBlock"
                        data-size="H3"
                        class="action-btn"
                      >
                        <i>H3</i>
                      </button>
                    </li>
                  </ul>
                </div>
                <div contenteditable="true" id="overview">
                  <b
                    >Write about your listing here!</b
                  >
                  <div>
                    <b><br /></b>
                  </div>
                  <div>
                    <ol>
                      <li>item 1</li>
                      <li>item 2</li>
                    </ol>
                    <div><br /></div>
                  </div>
                  <div>
                    <ul>
                      <li>bullet 1</li>
                      <li>bullet 2</li>
                    </ul>
                  </div>
                </div>
              </div>
          </mat-panel-description>
        </mat-expansion-panel>
      </div>
      <div class="form-item">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Problem Statement
          </mat-expansion-panel-header>
          <mat-panel-description>
            <div class="CMS-editor editing-active">
              <div class="action-container">
                <ul>
                  <li>
                    <button
                      type="button"
                      data-command="justifyLeft"
                      class="action-btn"
                    >
                      <i class="fas fa-align-left"></i>
                    </button>
                  </li>
                  <li>
                    <button
                      type="button"
                      data-command="justifyCenter"
                      class="action-btn"
                    >
                      <i class="fas fa-align-center"></i>
                    </button>
                  </li>
                  <li>
                    <button
                      type="button"
                      data-command="justifyRight"
                      class="action-btn"
                    >
                      <i class="fas fa-align-right"></i>
                    </button>
                  </li>

                  <li>
                    <button type="button" data-command="bold" class="action-btn">
                      <i class="fas fa-bold"></i>
                    </button>
                  </li>
                  <li>
                    <button
                      type="button"
                      data-command="underline"
                      class="action-btn"
                    >
                      <i class="fas fa-underline"></i>
                    </button>
                  </li>

                  <li>
                    <button
                      type="button"
                      data-command="insertOrderedList"
                      class="action-btn"
                    >
                      <i class="fas fa-list-ol"></i>
                    </button>
                  </li>

                  <li>
                    <button
                      type="button"
                      data-command="insertUnorderedList"
                      class="action-btn"
                    >
                      <i class="fas fa-list-ul"></i>
                    </button>
                  </li>

                  <li>
                    <button
                      type="button"
                      data-command="createlink"
                      class="action-btn"
                    >
                      <i class="fas fa-link"></i>
                    </button>
                  </li>

                  <li>
                    <button
                      type="button"
                      data-command="formatBlock"
                      data-size="H1"
                      class="action-btn"
                    >
                      <i>H1</i>
                    </button>
                  </li>

                  <li>
                    <button
                      type="button"
                      data-command="formatBlock"
                      data-size="H2"
                      class="action-btn"
                    >
                      <i>H2</i>
                    </button>
                  </li>

                  <li>
                    <button
                      type="button"
                      data-command="formatBlock"
                      data-size="H3"
                      class="action-btn"
                    >
                      <i>H3</i>
                    </button>
                  </li>
                </ul>
              </div>
              <div contenteditable="true" id="problem">
                <b
                  >What problem are you trying to solve?</b
                >
                <div>
                  <b><br /></b>
                </div>
                <div>
                  <ol>
                    <li>item 1</li>
                    <li>item 2</li>
                  </ol>
                  <div><br /></div>
                </div>
                <div>
                  <ul>
                    <li>bullet 1</li>
                    <li>bullet 2</li>
                  </ul>
                </div>
              </div>
            </div>
          </mat-panel-description>
        </mat-expansion-panel>
      </div>
      <div class="form-item">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Solution
          </mat-expansion-panel-header>
          <mat-panel-description>
            <div class="CMS-editor editing-active">
              <div class="action-container">
                <ul>
                  <li>
                    <button
                      type="button"
                      data-command="justifyLeft"
                      class="action-btn"
                    >
                      <i class="fas fa-align-left"></i>
                    </button>
                  </li>
                  <li>
                    <button
                      type="button"
                      data-command="justifyCenter"
                      class="action-btn"
                    >
                      <i class="fas fa-align-center"></i>
                    </button>
                  </li>
                  <li>
                    <button
                      type="button"
                      data-command="justifyRight"
                      class="action-btn"
                    >
                      <i class="fas fa-align-right"></i>
                    </button>
                  </li>

                  <li>
                    <button type="button" data-command="bold" class="action-btn">
                      <i class="fas fa-bold"></i>
                    </button>
                  </li>
                  <li>
                    <button
                      type="button"
                      data-command="underline"
                      class="action-btn"
                    >
                      <i class="fas fa-underline"></i>
                    </button>
                  </li>

                  <li>
                    <button
                      type="button"
                      data-command="insertOrderedList"
                      class="action-btn"
                    >
                      <i class="fas fa-list-ol"></i>
                    </button>
                  </li>

                  <li>
                    <button
                      type="button"
                      data-command="insertUnorderedList"
                      class="action-btn"
                    >
                      <i class="fas fa-list-ul"></i>
                    </button>
                  </li>

                  <li>
                    <button
                      type="button"
                      data-command="createlink"
                      class="action-btn"
                    >
                      <i class="fas fa-link"></i>
                    </button>
                  </li>

                  <li>
                    <button
                      type="button"
                      data-command="formatBlock"
                      data-size="H1"
                      class="action-btn"
                    >
                      <i>H1</i>
                    </button>
                  </li>

                  <li>
                    <button
                      type="button"
                      data-command="formatBlock"
                      data-size="H2"
                      class="action-btn"
                    >
                      <i>H2</i>
                    </button>
                  </li>

                  <li>
                    <button
                      type="button"
                      data-command="formatBlock"
                      data-size="H3"
                      class="action-btn"
                    >
                      <i>H3</i>
                    </button>
                  </li>
                </ul>
              </div>
              <div contenteditable="true" id="solution">
                <b
                  >What is your proposed solution?
                </b>
                <div>
                  <b><br /></b>
                </div>
                <div>
                  <ol>
                    <li>item 1</li>
                    <li>item 2</li>
                  </ol>
                  <div><br /></div>
                </div>
                <div>
                  <ul>
                    <li>bullet 1</li>
                    <li>bullet 2</li>
                  </ul>
                </div>
              </div>
            </div>
          </mat-panel-description>
        </mat-expansion-panel>
      </div>
      <div class="form-item">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Outcome
          </mat-expansion-panel-header>
          <mat-panel-description>
            <div class="CMS-editor editing-active">
              <div class="action-container">
                <ul>
                  <li>
                    <button
                      type="button"
                      data-command="justifyLeft"
                      class="action-btn"
                    >
                      <i class="fas fa-align-left"></i>
                    </button>
                  </li>
                  <li>
                    <button
                      type="button"
                      data-command="justifyCenter"
                      class="action-btn"
                    >
                      <i class="fas fa-align-center"></i>
                    </button>
                  </li>
                  <li>
                    <button
                      type="button"
                      data-command="justifyRight"
                      class="action-btn"
                    >
                      <i class="fas fa-align-right"></i>
                    </button>
                  </li>

                  <li>
                    <button type="button" data-command="bold" class="action-btn">
                      <i class="fas fa-bold"></i>
                    </button>
                  </li>
                  <li>
                    <button
                      type="button"
                      data-command="underline"
                      class="action-btn"
                    >
                      <i class="fas fa-underline"></i>
                    </button>
                  </li>

                  <li>
                    <button
                      type="button"
                      data-command="insertOrderedList"
                      class="action-btn"
                    >
                      <i class="fas fa-list-ol"></i>
                    </button>
                  </li>

                  <li>
                    <button
                      type="button"
                      data-command="insertUnorderedList"
                      class="action-btn"
                    >
                      <i class="fas fa-list-ul"></i>
                    </button>
                  </li>

                  <li>
                    <button
                      type="button"
                      data-command="createlink"
                      class="action-btn"
                    >
                      <i class="fas fa-link"></i>
                    </button>
                  </li>

                  <li>
                    <button
                      type="button"
                      data-command="formatBlock"
                      data-size="H1"
                      class="action-btn"
                    >
                      <i>H1</i>
                    </button>
                  </li>

                  <li>
                    <button
                      type="button"
                      data-command="formatBlock"
                      data-size="H2"
                      class="action-btn"
                    >
                      <i>H2</i>
                    </button>
                  </li>

                  <li>
                    <button
                      type="button"
                      data-command="formatBlock"
                      data-size="H3"
                      class="action-btn"
                    >
                      <i>H3</i>
                    </button>
                  </li>
                </ul>
              </div>
              <div contenteditable="true" id="outcome">
                <b
                  >What do you hope to achieve?
                </b>
                <div>
                  <b><br /></b>
                </div>
                <div>
                  <ol>
                    <li>item 1</li>
                    <li>item 2</li>
                  </ol>
                  <div><br /></div>
                </div>
                <div>
                  <ul>
                    <li>bullet 1</li>
                    <li>bullet 2</li>
                  </ul>
                </div>
              </div>
            </div>
          </mat-panel-description>
        </mat-expansion-panel>
        </div>
      </div>
    </div>

    <!-- Section 4 -->
    <div class="listing-section">
      <div class="listing-stepper">
        <span> 4 </span>
        <p>what are your goals?</p>
      </div>
      <div class="no-effect">
        <app-milestones [(MilestoneArr)]="milestoneArr"></app-milestones>
        <div class="form-item">
          <div class="milestones-container">
            <div
              *ngFor="let milestone of milestoneArr; index as i"
              class="milestones"
            >
              <div class="input-field-container">
                <mat-form-field class="milestone-input">
                  <mat-label>Milestone</mat-label>
                  <input
                    maxlength="50"
                    matInput
                    [(ngModel)]="milestone.description"
                  />
                  <mat-hint> {{ milestone.description.length }}/50 </mat-hint>
                </mat-form-field>
                <mat-form-field class="deadline-input">
                  <mat-label>Deadline</mat-label>
                  <input
                    [(ngModel)]="milestone.date"
                    matInput
                    [matDatepicker]="DateOfBirthPicker"
                    (ngModelChange)="sortMilestone()"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="DateOfBirthPicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #DateOfBirthPicker></mat-datepicker>
                </mat-form-field>
              </div>
              <button
                class="remove-milestone"
                (click)="removeMilestone(i)"
              ></button>
            </div>

            <button class="add-milestones" (click)="addMilestone()">
              Add Milestone
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Section 5 -->
    <div class="listing-section">
      <div class="listing-stepper">
        <span> 5 </span>
        <p>frequently asked questions</p>
      </div>
      <div class="listing-form">
        <div class="form-item">
          <!-- FAQ -->
          <div class="faq-container">
            <div *ngFor="let faq of faqArr; index as i" class="faq">
              <div class="input-field-container">
                <div class="form-item faq-input">
                  <textarea
                    matInput
                    placeholder="Question"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="2"
                    [(ngModel)]="faq.question"
                    maxlength="200"
                  ></textarea>
                </div>
                <div class="form-item faq-input">
                  <textarea
                    placeholder="Answer"
                    matInput
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="5"
                    [(ngModel)]="faq.answer"
                    maxlength="500"
                  ></textarea>
                  <span class="hint"> {{ faq.answer.length }} / 500 </span>
                </div>
              </div>
              <button class="remove-faq" (click)="removeFAQ(i)"></button>
            </div>
            <button class="add-faq" (click)="addFAQ()">Add Question</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Section 6 -->
    <div class="listing-section">
      <div class="listing-stepper">
        <span> 6 </span>
        <p>Are you offering any job/volunteer opportunities?</p>
      </div>

      <div class="listing-form">
        <div class="form-item">
          <!-- Looking for section -->
          <div class="skills-container">
            <div *ngFor="let job of jobArr; index as i" class="skills">
              <div class="input-field-container">
                <div class="form-item skill-input">
                  <textarea
                  matInput
                  placeholder="Job Title"
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="2"
                  [(ngModel)]="job.title"
                  maxlength="200"
                ></textarea>
                </div>
                <div>
                  <textarea
                    placeholder="Job Description"
                    matInput
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="5"
                    [(ngModel)]="job.description"
                    maxlength="500"
                  ></textarea>
                </div>
                <span class="hint"> {{ job.description.length }} / 500 </span>
              </div>
              <button
                class="remove-skills"
                (click)="removeDescription(i)"
              ></button>
            </div>

            <button class="add-skills" (click)="addDescription()">
              Add Job/Volunteer Opportunity
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <!-- Submit -->
  <div class="listing-section floating-actions-container">
    <div class="floating-actions">
      <div class="container">
        <div class="submit-btn">
          <button class="btn red-btn" (click)="removeListing()">
            Delete Initiative
          </button>
          <button class="btn yellow-btn ml-3" (click)="saveListing()">
            Save Initiative
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
