/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();

$primary-yellow: #fed45f;
/*
$kampong-primary: mat-palette($mat-yellow);
$kampong-accent: mat-palette($mat-orange);
$kampong-theme: mat-light-theme($kampong-primary, $kampong-accent);
@include angular-material-theme($kampong-theme);

*/

$primary: #4f8a8b;
$action-yellow: #ffcb74;
$font-xsmall: 1rem;
$font-small: 1.2rem;
$font-medium: 1.3rem;
$font-large: 1.8rem;
$font-xlarge: 2rem;

$shadow-border: 1px solid rgba(0, 0, 0, 0.11);
// Fonts
body {
  font-family: 'Open Sans', sans-serif;
}

.light {
  &-xs {
    font-weight: 300 !important;
    font-size: $font-xsmall;
  }
  &-s {
    font-weight: 300 !important;
    font-size: $font-small;
  }
  &-m {
    font-weight: 300 !important;
    font-size: $font-medium;
  }
  &-l {
    font-weight: 300 !important;
    font-size: $font-large;
  }
  &-xl {
    font-weight: 300 !important;
    font-size: $font-xlarge;
  }
}
.regular {
  &-s {
    font-weight: 400 !important;
    font-size: $font-small;
  }
  &-m {
    font-weight: 400 !important;
    font-size: $font-medium;
  }
  &-l {
    font-weight: 400 !important;
    font-size: $font-large;
  }
}
.medium {
  &-s {
    font-weight: 600 !important;
    font-size: $font-small;
  }
  &-m {
    font-weight: 600 !important;
    font-size: $font-medium;
  }
  &-l {
    font-weight: 600 !important;
    font-size: $font-large;
  }
}

.bold {
  &-xs {
    font-weight: 700 !important;
    font-size: $font-xsmall;
  }
  &-s {
    font-weight: 700 !important;
    font-size: $font-small;
  }
  &-m {
    font-weight: 700 !important;
    font-size: $font-medium;
  }
  &-l {
    font-weight: 700 !important;
    font-size: $font-large;
  }
}

.extrabold {
  &-s {
    font-weight: 800 !important;
    font-size: $font-small;
  }
  &-m {
    font-weight: 800 !important;
    font-size: $font-medium;
  }
  &-l {
    font-weight: 800 !important;
    font-size: $font-large;
  }
}
// Components
.primary-badge {
  background: $primary;
  color: white;
  font-size: $font-xsmall;
  font-weight: 600;
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  text-transform: uppercase;
}
.small-badge {
  background: $primary;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  text-transform: uppercase;
}

.button-container {
  width: 100%;
  button {
    width: 100%;
  }
}
.primary-button {
  margin-bottom: 1rem;
  background: $primary;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  font-size: $font-small;
  font-weight: 700;
  color: white;
  border: none;
  &:focus {
    outline: none;
  }
}

.hashtags-list {
  margin-bottom: 1rem;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      margin-right: 0.5rem;
      text-transform: capitalize;
    }
  }
}

.locationtags-list {
  margin-bottom: 1rem;
  display: flex;
  .location-icon {
    padding-right: 0.5rem;
    &:before {
      content: '\f3c5';
      color: $primary;
      margin-right: 0.25rem;
      font-size: $font-medium;
      font-weight: bold;
      font-family: 'Font Awesome\ 5 Free';
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-flex;
      color: black;
      text-transform: capitalize;
      &:after {
        content: ',';
        padding-right: 0.25rem;
      }
    }
    li:last-child {
      &:after {
        content: '';
        padding-right: 0;
      }
    }
  }
}

.block-content {
  padding-top: 3rem;
}

.onboarding-header {
  h1 {
    font-size: 2rem;
  }
  p {
    display: inline-block;
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}

h2 {
  font-size: $font-medium;
  font-weight: 400;
  position: relative;
  padding-bottom: 0.5rem;
  color: black;
  text-transform: capitalize;
  border-bottom: $shadow-border;
  // &:after {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   height: 3px;
  //   width: 100px;
  //   background: #e80f0f;
  // }
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

// Textarea
.text-field {
  .mat-form-field-wrapper {
    .mat-form-field-flex {
      padding-bottom: 2rem !important;
    }
  }
}
.comments-container {
  .comments-input {
    width: 100%;
    .full-width {
      width: 100% !important;
    }
  }
}
.mat-option-text {
  overflow: auto;
  text-overflow: unset;
}

.mat-select-panel .mat-optgroup-label,
.mat-select-panel .mat-option {
  white-space: pre-wrap;
  overflow: auto;
  text-overflow: unset;
  line-height: inherit !important;
  height: auto !important;
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}

button,
.btn {
  &:focus {
    outline: none;
  }
}
// Buttons
.yellow-btn {
  display: block;
  border: 2px solid $action-yellow;
  background-color: $action-yellow;
  border-radius: 0;
  color: white !important;
  font-weight: 600;
  font-size: $font-xsmall;
  margin: 5px;
  &:hover {
    background-color: white;
    color: $action-yellow !important;
  }
}
.red-btn {
  display: block;
  border: 2px solid #b33a3a;
  background-color: #b33a3a;
  color: white !important;
  border-radius: 0;
  font-weight: 600;
  font-size: $font-xsmall;
  &:hover {
    background-color: white;
    color: #b33a3a !important;
  }
}

.outline-btn {
  display: inline-block;
  border: 1px solid black;
  border-radius: 0;
  color: black;
  font-weight: 500;
  font-size: 1rem;
  &:hover {
    background-color: #fed45f;
    border-color: #fed45f;
    color: white !important;
  }
}
.back-btn {
  &:before {
    content: '\f060';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
  }
}
.search-btn {
  &:before {
    content: '\f002';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    font-size: 1rem;
    color: rgba(0, 0, 0, 1);
  }
}

.set-min-height {
  min-height: 50vh;
}

// Components
.category-list {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding: 1rem 0;
    li {
      font-weight: 600;
      font-size: 1rem;
      text-transform: uppercase;
      border: 1px solid black;
      display: inline-block;
      padding: 0.25rem 0.5rem;
      margin-right: 1rem;
      margin-bottom: 0.75rem;
      border-radius: 5px;
      cursor: pointer;
    }
    .active {
      color: white;
      background-color: #f1cb4a;
      border-color: #f1cb4a;
    }
  }
}
.anti-select-category-list {
  ul {
    li {
      cursor: default;
    }
  }
}

.jobs-list {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    li {
      display: inline-block;
      margin-right: 1rem;
      margin-bottom: 1rem;
      background: #4ea0ae;
      padding: 0.5rem 1rem;
      padding-bottom: 0;
      border-radius: 5px;
      p {
        color: white;
      }
      .listing-jobs {
        .job-title {
          margin: 0;
          font-weight: bold;
        }
        .job-description {
          margin: 0;
          margin-top: 1rem;
          margin-bottom: 2rem;
          white-space: pre-wrap;
          display: none;
        }
      }
      .collapse-btn {
        border-color: white;
        margin: 0;
        margin-top: 0.5rem;
        &:after {
          color: white;
        }
      }
    }
  }
}
.collapse-btn {
  transition: all 0.3s ease;
  width: 100%;
  text-align: center;
  border-top: 0.5px solid grey;
  margin-bottom: 0.5rem;
  cursor: pointer;
  &:after {
    content: '\f078';
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-family: 'Font Awesome\ 5 Free';
  }
}
.collapse-btn.active {
  &:after {
    content: '\f077';
  }
}

.suggested-search {
  margin-bottom: 2rem;
  .label {
    color: #fb3958;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      padding: 0.25rem 1rem;
      border-radius: 20px;
      color: #333;
      font-weight: bold;
      background: rgb(221, 221, 221);
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
      cursor: pointer;
    }
  }
}

// Slick
.slick-belt {
  .banner {
    &:focus {
      outline: none;
    }
  }
  .slick-dots {
    bottom: 0 !important;
    li {
      margin: 0 0.5rem;
      button {
        position: relative;
        &:before {
          content: '';
          width: 25px;
          height: 5px;
          background-color: #ffffff;
          border-radius: 10px;
          position: absolute;
          top: 0;
          left: 0;

          @media (max-width: 1024px) {
            background-color: #c4c4c4;
          }
        }
      }
    }
  }
  .slick-arrow {
    z-index: 100;
    width: auto !important;
    height: auto !important;
    top: 100% !important;
    transform: translateY(-100%);
    padding: 0.5rem;
    &:before {
      font-weight: bold;
      font-family: 'Font Awesome\ 5 Free';
      width: 3rem;
      height: 3rem;
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid rgba(255, 255, 255, 0.5);
      border-radius: 100%;

      @media (max-width: 1024px) {
        border: 3px solid #c4c4c470;
        color: #c4c4c470;
      }
    }
  }
  .slick-prev {
    left: auto !important;
    right: 3.1rem !important;
    &::before {
      content: '\f053';
      font-size: 1.5rem;
    }
  }
  .slick-next {
    right: 0 !important;
    &::before {
      content: '\f054';
      font-size: 1.5rem;
    }
  }
}

.carousel-nav {
  .slick-arrow {
    z-index: 100;
  }
  .slick-prev {
    left: 0px !important;
    &::before {
      font-size: 1.5rem;
      color: rgb(100, 100, 100);
    }
  }
  .slick-next {
    right: 0px !important;
    &::before {
      font-size: 1.5rem;
      color: rgb(100, 100, 100);
    }
  }
}

.carousel-slider {
  margin: 0 !important;
  .slick-dots {
    bottom: 0 !important;
    li {
      button {
        position: relative;
        &:before {
          content: '';
          width: 20px;
          height: 5px;
          background-color: $primary-yellow;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
  .slick-arrow {
    z-index: 100;
    width: 3rem !important;
    height: 3rem !important;
    top: 100% !important;
    transform: translateY(-100%);
    &:before {
      font-weight: bold;
      font-family: 'Font Awesome\ 5 Free';
      width: 3rem;
      height: 3rem;
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.5);
    }
  }
  .slick-prev {
    left: auto !important;
    right: 3.1rem !important;
    &::before {
      content: '\f053';
      font-size: 2rem;
    }
  }
  .slick-next {
    right: 0 !important;
    &::before {
      content: '\f054';
      font-size: 2rem;
    }
  }
}

.update-image-slider {
  .slick-dots {
    bottom: -40px !important;
    li {
      button {
        position: relative;
        &:before {
          content: '';
          width: 20px;
          height: 5px;
          background-color: $primary-yellow;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
  .slick-arrow {
    z-index: 100;
  }
  .slick-prev {
    left: -1.5rem !important;
    &::before {
      font-size: 1.5rem;
      color: rgb(100, 100, 100);
    }
  }
  .slick-next {
    right: -1.5rem !important;
    &::before {
      font-size: 1.5rem;
      color: rgb(100, 100, 100);
    }
  }
}

html,
body {
  height: 100%;
}

// Profile Image
.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid $primary-yellow;
  img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
}

.user-info {
  .profile-image {
    width: 30px;
    height: 30px;
    img {
      min-height: 110%;
    }
  }
}

.updates-user-info {
  .profile-image {
    width: 50px;
    height: 50px;
  }
}

.custom-input {
  .profile-image {
    width: 160px;
    height: 160px;
  }
}

.success-dialog {
  background: #00c09e;
  .dialog-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .dialog-message {
      color: white;
    }
  }
  .close-btn {
    border: none;
    background: none;
    &:focus {
      outline: none;
    }
    &:after {
      content: '\f057';
      font-family: 'Font Awesome\ 5 Free';
      font-weight: bold;
      font-size: 1.3rem;
      color: white;
    }
  }
}

.error-dialog {
  background: #ff3b4f;
  .dialog-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .dialog-message {
      color: white;
    }
  }
  .close-btn {
    border: none;
    background: none;
    &:focus {
      outline: none;
    }
    &:after {
      content: '\f057';
      font-family: 'Font Awesome\ 5 Free';
      font-weight: bold;
      font-size: 1.3rem;
      color: white;
    }
  }
}

.mat-expansion-panel {
  .mat-expansion-panel-header {
    font-size: 1rem;
    background: #4f8a8b !important;
    color: white !important;
    &:hover {
      background: #4f8a8b !important;
    }
  }
  .mat-expansion-panel-header-title {
    color: white;
    font-weight: bold;
  }
  .mat-expansion-indicator::after {
    color: white;
  }
  .mat-expansion-panel-body {
    padding-bottom: 3rem !important;
    padding-top: 3rem !important;
  }
  textarea {
    font-size: 1rem;
  }
}

textarea {
  color: black !important;
}

.mat-form-field {
  .mat-form-field-wrapper {
    padding-bottom: 0.5rem;

    .mat-form-field-underline {
      position: initial !important;
      display: block;
      margin-top: -1px;
    }

    .mat-form-field-subscript-wrapper,
    .mat-form-field-ripple {
      position: initial !important;
      display: table;
    }

    .mat-form-field-subscript-wrapper {
      min-height: calc(1em + 1px);
    }
  }
}
.mat-form-field-label-wrapper {
  font-size: 1rem !important;
}

.search-box {
  .mat-form-field-flex {
    border-radius: 0 !important;
  }
}

// footer
$navy: #364f6b;
footer {
  background: $navy;
  padding: 5rem 0;
  padding-bottom: 1rem;
  .logo-container {
    margin-bottom: 2rem;
    img {
      max-height: 40px;
    }
  }
  small {
    text-align: center;
    display: block;
    margin-top: 10rem;
    color: white;
    font-size: 0.8rem;
  }
  .footer-links {
    .link-col {
      padding: 0 2rem;
      label {
        color: white;
        font-weight: bold;
        font-size: 1.2rem;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-bottom: 1rem;
        li {
          a {
            color: white;
            font-weight: 300;
            font-size: 1rem;
          }
        }
      }
    }
    .link-col:last-child {
      padding-right: 0;
    }
  }
}

// CMS
.CMS-editor {
  position: relative;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    vertical-align: baseline;
    position: initial;
  }

  h1 {
    font-size: $font-large;
    font-weight: 700;
  }
  h2 {
    font-size: $font-medium;
    font-weight: 700;
  }
  h3 {
    font-size: $font-small;
    font-weight: 700;
  }
  span,
  div {
    font-size: $font-small;
    font-weight: 300;
  }
  b {
    font-weight: 700;
  }

  font-family: 'Open Sans', sans-serif;
  #overview,
  #problem,
  #solution,
  #outcome {
    min-height: 100px;
    // box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border: $shadow-border;
    background: white;
    padding: 1rem;
    &:focus {
      outline: none;
    }
    li {
      margin-bottom: 1rem;
    }
  }
  #result-output {
    li {
      margin-bottom: 1rem;
    }
  }

  .action-container {
    margin-bottom: 1rem;
    position: absolute;
    top: 0;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      li {
        height: 3rem;
        width: 3rem;
        background: #407088;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          border: none;
          background: #407088;
          i {
            color: #eeeeee;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
.editing-active {
  padding-top: 5rem;
  width: 100%;
  .sticky-active {
    position: fixed;
    top: 0;
  }
}

.floating-actions-container {
  position: relative;
  .floating-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    background: white;
    border-top: $shadow-border;
    .submit-btn {
      display: flex;
      justify-content: flex-end;
    }
  }
  .floating-actions-active {
    position: fixed !important;
  }
}

// Create Listing Revamp
.listing-creation {
  // temp
  margin-bottom: 10rem;
  .listing-section {
    margin-bottom: 5rem;
  }
  .listing-stepper {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    p {
      font-size: $font-medium;
      font-weight: 300;
      margin: 0;
      text-transform: capitalize;
    }
    span {
      margin-right: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      border: 2px solid $primary;
      color: $primary;
      font-size: $font-medium;
      font-weight: 700;
      border-radius: 100%;
    }
  }

  // Content
  .hint {
    font-size: $font-xsmall;
    display: block;
    text-align: right;
    color: $primary;
  }
  .error-hint {
    font-size: $font-xsmall;
    font-style: italic;
    color: #ff0033;
  }
  .listing-form {
    padding-left: 4rem;
    max-width: 800px;
    .form-item {
      margin-bottom: 2rem;
      label {
        font-weight: 700;
        color: $primary;
      }
    }
    input,
    textarea {
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $primary;
      // color: $primary;
      font-weight: 300;
      padding: 0.1rem 0;
      font-size: $font-small;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
    textarea {
      border: 1px solid $primary;
      padding: 0.5rem;
    }
    select {
      display: block;
      border-color: $primary;
      border-radius: 0;
      padding: 0.2rem;
      font-weight: 300;
      font-size: $font-small;
      &:focus {
        outline: none;
      }
    }
  }
  .no-effect {
    padding-left: 4rem;
    max-width: 800px;
    .form-item {
      margin-bottom: 2rem;
      label {
        font-weight: 700;
        color: $primary;
      }
    }
  }

  // image upload
  .custom-input {
    padding-bottom: 2rem;
    .custom-file-upload-container {
      .custom-file-upload {
        border: 2px dashed $primary;
        height: 180px;
        width: 180px;
        border-radius: 25px;
        position: relative;
        cursor: pointer;
        &:after {
          content: '\f067';
          font-family: 'Font Awesome\ 5 Free';
          font-size: 2rem;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          color: $primary;
          font-weight: bold;
        }
      }
      input {
        display: none;
      }
    }
  }

  .image-output {
    .image-container {
      height: 180px;
      width: 180px;
      border-radius: 25px;
      margin-right: 1rem;
      margin-bottom: 1rem;
      overflow: hidden;
      position: relative;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      &:hover {
        &:after {
          cursor: pointer;
          content: '\f068';
          font-family: 'Font Awesome\ 5 Free';
          font-weight: 900;
          font-size: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $primary;

          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.3);
        }
      }
    }
  }

  // Hashtags
  .hashtags-container {
    position: relative;
    width: 100%;
    .error {
      position: absolute;
      bottom: -1.2rem;
      right: 0;
      color: red;
      font-size: 0.8rem;
    }
  }
  // Milestones
  .milestones-container {
    margin-top: 2rem;
    .milestones {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .milestone-input,
      .deadline-input {
        width: 30%;
        margin-bottom: 0;
        margin-right: 1rem;
      }
      .milestone-input {
        flex: 1;
      }

      .remove-milestone {
        background-color: white;
        border: none;
        &:focus {
          outline: none;
        }
        &:after {
          cursor: pointer;
          content: '\f068';
          font-family: 'Font Awesome\ 5 Free';
          font-weight: 900;
          background-color: $primary;
          padding: 0.5rem;
          color: white;
          border-radius: 50%;
        }
      }
    }
    .input-field-container {
      display: flex;
      flex: 1;
      @media (max-width: 778px) {
        flex-wrap: wrap;
        .milestone-input {
          width: 100% !important;
        }
      }
    }

    .add-milestones {
      border: none;
      background-color: $primary;
      padding: 0.5rem 1rem;
      color: white;
      // text-transform: uppercase;
      border-radius: 0;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
  }

  // FAQ
  .faq-container {
    margin-top: 2rem;
    .faq {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 2rem;
      .faq-input {
        width: 100%;
        margin-bottom: 0;
        margin-right: 1rem;
      }
      .faq-input {
        flex: 1;
        width: 100%;
      }

      .remove-faq {
        background-color: white;
        border: none;
        &:focus {
          outline: none;
        }
        &:after {
          cursor: pointer;
          content: '\f068';
          font-family: 'Font Awesome\ 5 Free';
          font-weight: 900;
          background-color: $primary;
          padding: 0.5rem;
          color: white;
          border-radius: 50%;
        }
      }
    }
    .input-field-container {
      width: 100%;
      .faq-input {
        margin-bottom: 1rem;
      }
      .bg-colored {
        textarea {
          background: $primary !important;
          color: white !important;
          font-weight: 600;
          border: none;
          &::placeholder {
            color: white !important;
          }
        }
      }
    }

    .add-faq {
      border: none;
      background-color: $primary;
      padding: 0.5rem 1rem;
      color: white;
      // text-transform: uppercase;
      border-radius: 0;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
  }

  // Skills
  .skills-container {
    margin-top: 2rem;
    .skills {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 2rem;
      .skills-input {
        width: 100%;
        margin-bottom: 0;
        margin-right: 1rem;
      }
      .skills-input {
        flex: 1;
        width: 100%;
      }

      .remove-skills {
        background-color: white;
        border: none;
        &:focus {
          outline: none;
        }
        &:after {
          cursor: pointer;
          content: '\f068';
          font-family: 'Font Awesome\ 5 Free';
          font-weight: 900;
          background-color: $primary;
          padding: 0.5rem;
          color: white;
          border-radius: 50%;
        }
      }
    }
    .input-field-container {
      width: 100%;
      .skills-input {
        margin-bottom: 1rem;
      }
    }

    .add-skills {
      border: none;
      background-color: $primary;
      padding: 0.5rem 1rem;
      color: white;
      border-radius: 0;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
  }
}

// Profile Page revamp
.profile-display {
  overflow: hidden;
  .profile-item-container {
    padding: 5rem 0;
    @media (max-width: 991px) {
      padding: 0;
      margin-top: 5rem;
    }
    .profile-item {
      margin-bottom: 5rem;
      .activity-stat {
        margin-bottom: 0rem;
        b {
          color: $primary;
          font-weight: 700;
          font-size: $font-large;
          min-width: 2rem;
          text-align: center;
          display: inline-block;
        }
      }
    }
  }
  // Utilities
  .limit-width {
    @media (min-width: 991px) {
      max-width: 40%;
    }
  }
  .bg-colored {
    z-index: 1;
    height: 100%;
    @media (min-width: 991px) {
      min-height: 100vh;
      position: relative;
    }
    &:before {
      content: '';
      position: absolute;
      background: #e5e5e5;
      top: 0;
      right: 0;
      height: 100%;
      width: 100vw;
      z-index: -1;

      @media (max-width: 991px) {
        // right: -50%;
        // width: 200vw;
        display: none;
      }
    }
  }
  .bg-colored-mobile {
    @media (max-width: 991px) {
      position: relative;
      z-index: 1;
    }
  }
  .user-details {
    padding-left: 1rem;
    p {
      margin: 0;
    }
    .name {
      font-size: $font-medium;
      font-weight: 400;
      margin-bottom: 0.25rem;
    }
    .position {
      font-size: $font-xsmall;
      font-weight: 300;
      font-style: italic;
    }
  }
  .sticky-profile-container {
    position: relative;
    height: 100%;
    .sticky-profile {
      top: 0;
      width: 100%;
      @media (min-width: 991px) {
        position: absolute;
      }
    }
    .sticky-active {
      @media (min-width: 991px) {
        position: fixed;
      }
    }
  }
  .profile-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 5rem;
    @media (max-width: 991px) {
      display: none;
    }
    li {
      font-weight: 300;
      font-size: $font-small;
      margin-bottom: 0.5rem;
      cursor: pointer;
    }
    .active {
      font-weight: 400;
    }
  }
}
