/* You can add global styles to this file, and also import other style files */

$primary-yellow: #fed45f;

$primary: #4f8a8b;
$font-xsmall: 1rem;
$font-small: 1.2rem;
$font-medium: 1.3rem;
$font-large: 1.8rem;

// Fonts
body {
  font-family: "Open Sans", sans-serif;
}

.light {
  &-xs {
    font-weight: 300 !important;
    font-size: $font-xsmall;
  }
  &-s {
    font-weight: 300 !important;
    font-size: $font-small;
  }
  &-m {
    font-weight: 300 !important;
    font-size: $font-medium;
  }
  &-l {
    font-weight: 300 !important;
    font-size: $font-large;
  }
}
.regular {
  &-s {
    font-weight: 400 !important;
    font-size: $font-small;
  }
  &-m {
    font-weight: 400 !important;
    font-size: $font-medium;
  }
  &-l {
    font-weight: 400 !important;
    font-size: $font-large;
  }
}
.medium {
  &-s {
    font-weight: 600 !important;
    font-size: $font-small;
  }
  &-m {
    font-weight: 600 !important;
    font-size: $font-medium;
  }
  &-l {
    font-weight: 600 !important;
    font-size: $font-large;
  }
}

.bold {
  &-xs {
    font-weight: 700 !important;
    font-size: $font-xsmall;
  }
  &-s {
    font-weight: 700 !important;
    font-size: $font-small;
  }
  &-m {
    font-weight: 700 !important;
    font-size: $font-medium;
  }
  &-l {
    font-weight: 700 !important;
    font-size: $font-large;
  }
}

.extrabold {
  &-s {
    font-weight: 800 !important;
    font-size: $font-small;
  }
  &-m {
    font-weight: 800 !important;
    font-size: $font-medium;
  }
  &-l {
    font-weight: 800 !important;
    font-size: $font-large;
  }
}
// Components
.primary-badge {
  background: $primary;
  color: white;
  font-size: $font-small;
  font-weight: 700;
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  text-transform: uppercase;
}

.button-container {
  width: 100%;
  button {
    width: 100%;
  }
}
.primary-button {
  margin-bottom: 1rem;
  background: $primary;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  font-size: $font-small;
  font-weight: 700;
  color: white;
  border: none;
  &:focus {
    outline: none;
  }
}

.hashtags-list {
  margin-bottom: 1rem;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      margin-right: 0.5rem;
      text-transform: capitalize;
    }
  }
}

.locationtags-list {
  margin-bottom: 1rem;
  display: flex;
  .location-icon {
    padding-right: 0.5rem;
    &:before {
      content: "\f3c5";
      color: $primary;
      margin-right: 0.25rem;
      font-size: $font-medium;
      font-weight: bold;
      font-family: "Font Awesome\ 5 Free";
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-flex;
      color: black;
      text-transform: capitalize;
      &:after {
        content: ",";
        padding-right: 0.25rem;
      }
    }
    li:last-child {
      &:after {
        content: "";
        padding-right: 0;
      }
    }
  }
}

.block-content {
  padding-top: 3rem;
}

.onboarding-header {
  h1 {
    font-size: 2rem;
  }
  p {
    display: inline-block;
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}

h2 {
  font-size: 1.5625rem;
  font-weight: bold;
  position: relative;
  padding-bottom: 0.5rem;
  display: inline-block;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100px;
    background: #e80f0f;
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

// Textarea
.text-field {
  .mat-form-field-wrapper {
    .mat-form-field-flex {
      padding-bottom: 2rem !important;
    }
  }
}
.comments-container {
  .comments-input {
    width: 100%;
    .full-width {
      width: 100% !important;
    }
  }
}
.mat-option-text {
  overflow: auto;
  text-overflow: unset;
}

.mat-select-panel .mat-optgroup-label,
.mat-select-panel .mat-option {
  white-space: pre-wrap;
  overflow: auto;
  text-overflow: unset;
  line-height: inherit !important;
  height: auto !important;
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}

// Buttons
.yellow-btn {
  display: block;
  border: 2px solid #fed45f;
  background-color: #fed45f;
  color: white !important;
  font-weight: bold;
  font-size: 0.9rem;
  &:hover {
    background-color: white;
    color: #fed45f !important;
  }
}
.red-btn {
  display: block;
  border: 2px solid #b33a3a;
  background-color: #b33a3a;
  color: white !important;
  font-weight: bold;
  font-size: 0.9rem;
  &:hover {
    background-color: white;
    color: #b33a3a !important;
  }
}

.outline-btn {
  display: inline-block;
  border: 1px solid black;
  border-radius: 0;
  color: black;
  font-weight: 500;
  font-size: 1rem;
  &:hover {
    background-color: #fed45f;
    border-color: #fed45f;
    color: white !important;
  }
}
.back-btn {
  &:before {
    content: "\f060";
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
  }
}
.search-btn {
  &:before {
    content: "\f002";
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    font-size: 1rem;
    color: rgba(0, 0, 0, 1);
  }
}

.set-min-height {
  min-height: 50vh;
}

// Components
.category-list {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding: 1rem 0;
    li {
      font-weight: 600;
      font-size: 1rem;
      text-transform: uppercase;
      border: 1px solid black;
      display: inline-block;
      padding: 0.25rem 0.5rem;
      margin-right: 1rem;
      margin-bottom: 0.75rem;
      border-radius: 5px;
      cursor: pointer;
    }
    .active {
      color: white;
      background-color: #f1cb4a;
      border-color: #f1cb4a;
    }
  }
}
.anti-select-category-list {
  ul {
    li {
      cursor: default;
    }
  }
}

.jobs-list {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    li {
      display: inline-block;
      margin-right: 1rem;
      margin-bottom: 1rem;
      background: #4ea0ae;
      padding: 0.5rem 1rem;
      padding-bottom: 0;
      border-radius: 5px;
      p {
        color: white;
      }
      .listing-jobs {
        .job-title {
          margin: 0;
          font-weight: bold;
        }
        .job-description {
          margin: 0;
          margin-top: 1rem;
          margin-bottom: 2rem;
          white-space: pre-wrap;
          display: none;
        }
      }
      .collapse-btn {
        border-color: white;
        margin: 0;
        margin-top: 0.5rem;
        &:after {
          color: white;
        }
      }
    }
  }
}
.collapse-btn {
  transition: all 0.3s ease;
  width: 100%;
  text-align: center;
  border-top: 0.5px solid grey;
  margin-bottom: 0.5rem;
  cursor: pointer;
  &:after {
    content: "\f078";
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-family: "Font Awesome\ 5 Free";
  }
}
.collapse-btn.active {
  &:after {
    content: "\f077";
  }
}

.suggested-search {
  margin-bottom: 2rem;
  .label {
    color: #fb3958;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      padding: 0.25rem 1rem;
      border-radius: 20px;
      color: #333;
      font-weight: bold;
      background: rgb(221, 221, 221);
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
      cursor: pointer;
    }
  }
}

// Slick
.slick-belt {
  .banner {
    &:focus {
      outline: none;
    }
  }
  .slick-dots {
    bottom: 0 !important;
    li {
      button {
        position: relative;
        &:before {
          content: "";
          width: 20px;
          height: 5px;
          background-color: $primary-yellow;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
  .slick-arrow {
    z-index: 100;
    width: 3rem !important;
    height: 3rem !important;
    top: 100% !important;
    transform: translateY(-100%);
    &:before {
      font-weight: bold;
      font-family: "Font Awesome\ 5 Free";
      width: 3rem;
      height: 3rem;
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.5);
    }
  }
  .slick-prev {
    left: auto !important;
    right: 3.1rem !important;
    &::before {
      content: "\f053";
      font-size: 2rem;
    }
  }
  .slick-next {
    right: 0 !important;
    &::before {
      content: "\f054";
      font-size: 2rem;
    }
  }
}

.carousel-nav {
  .slick-arrow {
    z-index: 100;
  }
  .slick-prev {
    left: 0px !important;
    &::before {
      font-size: 1.5rem;
      color: rgb(100, 100, 100);
    }
  }
  .slick-next {
    right: 0px !important;
    &::before {
      font-size: 1.5rem;
      color: rgb(100, 100, 100);
    }
  }
}

.carousel-slider {
  margin: 0 !important;
  .slick-dots {
    bottom: 0 !important;
    li {
      button {
        position: relative;
        &:before {
          content: "";
          width: 20px;
          height: 5px;
          background-color: $primary-yellow;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
  .slick-arrow {
    z-index: 100;
    width: 3rem !important;
    height: 3rem !important;
    top: 100% !important;
    transform: translateY(-100%);
    &:before {
      font-weight: bold;
      font-family: "Font Awesome\ 5 Free";
      width: 3rem;
      height: 3rem;
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.5);
    }
  }
  .slick-prev {
    left: auto !important;
    right: 3.1rem !important;
    &::before {
      content: "\f053";
      font-size: 2rem;
    }
  }
  .slick-next {
    right: 0 !important;
    &::before {
      content: "\f054";
      font-size: 2rem;
    }
  }
}

.update-image-slider {
  .slick-dots {
    bottom: -40px !important;
    li {
      button {
        position: relative;
        &:before {
          content: "";
          width: 20px;
          height: 5px;
          background-color: $primary-yellow;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
  .slick-arrow {
    z-index: 100;
  }
  .slick-prev {
    left: -1.5rem !important;
    &::before {
      font-size: 1.5rem;
      color: rgb(100, 100, 100);
    }
  }
  .slick-next {
    right: -1.5rem !important;
    &::before {
      font-size: 1.5rem;
      color: rgb(100, 100, 100);
    }
  }
}

html,
body {
  height: 100%;
}

// Profile Image
.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid $primary-yellow;
  img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
}

.user-info {
  .profile-image {
    width: 30px;
    height: 30px;
    img {
      min-height: 110%;
    }
  }
}

.updates-user-info {
  .profile-image {
    width: 50px;
    height: 50px;
  }
}

.custom-input {
  .profile-image {
    width: 160px;
    height: 160px;
  }
}

.success-dialog {
  background: #00c09e;
  .dialog-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .dialog-message {
      color: white;
    }
  }
  .close-btn {
    border: none;
    background: none;
    &:focus {
      outline: none;
    }
    &:after {
      content: "\f057";
      font-family: "Font Awesome\ 5 Free";
      font-weight: bold;
      font-size: 1.3rem;
      color: white;
    }
  }
}

.error-dialog {
  background: #ff3b4f;
  .dialog-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .dialog-message {
      color: white;
    }
  }
  .close-btn {
    border: none;
    background: none;
    &:focus {
      outline: none;
    }
    &:after {
      content: "\f057";
      font-family: "Font Awesome\ 5 Free";
      font-weight: bold;
      font-size: 1.3rem;
      color: white;
    }
  }
}

.mat-expansion-panel {
  .mat-expansion-panel-header {
    font-size: 1rem;
    background: #4e89ae !important;
    &:hover {
      background: #4e89ae !important;
    }
  }
  .mat-expansion-panel-header-title {
    color: white;
    font-weight: bold;
  }
  .mat-expansion-indicator::after {
    color: white;
  }
  .mat-expansion-panel-body {
    padding-bottom: 3rem !important;
    padding-top: 3rem !important;
  }
  textarea {
    font-size: 1rem;
  }
}

textarea {
  color: black !important;
}

.mat-form-field {
  .mat-form-field-wrapper {
    padding-bottom: 0.5rem;

    .mat-form-field-underline {
      position: initial !important;
      display: block;
      margin-top: -1px;
    }

    .mat-form-field-subscript-wrapper,
    .mat-form-field-ripple {
      position: initial !important;
      display: table;
    }

    .mat-form-field-subscript-wrapper {
      min-height: calc(1em + 1px);
    }
  }
}
.mat-form-field-label-wrapper {
  font-size: 1rem !important;
}

.search-box {
  .mat-form-field-flex {
    border-radius: 0 !important;
  }
}

// footer
$navy: #364f6b;

footer {
  background: $navy;
  margin-top: 10rem;
  padding: 5rem 0;
  padding-bottom: 1rem;
  .logo-container {
    margin-bottom: 2rem;
    img {
      max-height: 40px;
    }
  }
  small {
    text-align: center;
    display: block;
    margin-top: 10rem;
    color: white;
    font-size: 0.8rem;
  }
  .footer-links {
    .link-col {
      padding: 0 2rem;
      label {
        color: white;
        font-weight: bold;
        font-size: 1.2rem;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-bottom: 1rem;
        li {
          a {
            color: white;
            font-weight: 300;
            font-size: 1rem;
          }
        }
      }
    }
    .link-col:last-child {
      padding-right: 0;
    }
  }
}
