/* You can add global styles to this file, and also import other style files */

$primary-yellow: #fed45f;

body {
  font-family: "Open Sans", sans-serif;
}

.block-content {
  padding-top: 3rem;
}

h2 {
  font-size: 1.5625rem;
  font-weight: bold;
  position: relative;
  padding-bottom: 0.5rem;
  display: inline-block;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100px;
    background: #e80f0f;
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

// Textarea
.text-field {
  .mat-form-field-wrapper {
    .mat-form-field-flex {
      padding-bottom: 2rem !important;
    }
  }
}
.comments-container {
  .comments-input {
    width: 100%;
    .full-width {
      width: 100% !important;
    }
  }
}
// Buttons
.yellow-btn {
  display: block;
  border: 2px solid #fed45f;
  background-color: #fed45f;
  color: white !important;
  font-weight: bold;
  font-size: 0.9rem;
  &:hover {
    background-color: white;
    color: #fed45f !important;
  }
}
.red-btn {
  display: block;
  border: 2px solid #b33a3a;
  background-color: #b33a3a;
  color: white !important;
  font-weight: bold;
  font-size: 0.9rem;
  &:hover {
    background-color: white;
    color: #b33a3a !important;
  }
}

.outline-btn {
  display: inline-block;
  border: 1px solid black;
  border-radius: 0;
  color: black;
  font-weight: 500;
  font-size: 1rem;
  &:hover {
    background-color: #fed45f;
    border-color: #fed45f;
    color: white !important;
  }
}
.back-btn {
  &:before {
    content: "\f060";
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
  }
}
.search-btn {
  &:before {
    content: "\f002";
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    font-size: 1rem;
    color: rgba(0, 0, 0, 1);
  }
}

// Components
.category-list {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding: 1rem 0;
    li {
      font-weight: 600;
      font-size: 1rem;
      text-transform: uppercase;
      border: 1px solid black;
      display: inline-block;
      padding: 0.25rem 0.5rem;
      margin-right: 1rem;
      margin-bottom: 0.75rem;
      border-radius: 5px;
      cursor: pointer;
    }
    .active {
      color: white;
      background-color: #f1cb4a;
      border-color: #f1cb4a;
    }
  }
}
.anti-select-category-list {
  ul {
    li {
      cursor: default;
    }
  }
}

.hashtags-list {
  margin-top: 0.5rem;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding: 1rem 0;
    li {
      font-weight: 600;
      font-size: 1rem;
      display: inline-block;
      margin-right: 0.5rem;
      color: rgba(0, 0, 0, 0.5);
      // padding: 0.25rem 0.5rem;
      // margin-bottom: 0.75rem;
      // border-radius: 5px;
      // cursor: pointer;
      // background: #34ad5f;
      // color: white;
    }
  }
}

.locationtags-list {
  transition: all 0.3s ease;
  height: 4rem;
  overflow: hidden;
  margin-top: 1rem;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding: 1rem 0;
    li {
      font-weight: 600;
      font-size: 1rem;
      display: inline-block;
      padding: 0.25rem 0.5rem;
      margin-right: 0.5rem;
      margin-bottom: 0.75rem;
      border-radius: 5px;
      cursor: pointer;
      background: #34ad5f;
      color: white;
      &:before {
        content: "\f3c5";
        color: white;
        margin-right: 0.5rem;
        font-weight: bold;
        font-family: "Font Awesome\ 5 Free";
      }
    }
  }
}
.collapse-btn {
  transition: all 0.3s ease;
  width: 100%;
  text-align: center;
  border-top: 0.5px solid grey;
  margin-bottom: 0.5rem;
  cursor: pointer;
  &:after {
    content: "\f078";
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-family: "Font Awesome\ 5 Free";
  }
}
.collapse-btn.active {
  &:after {
    content: "\f077";
  }
}

.suggested-search {
  margin-bottom: 2rem;
  .label {
    color: #fb3958;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      padding: 0.25rem 1rem;
      border-radius: 20px;
      color: #333;
      font-weight: bold;
      background: rgb(221, 221, 221);
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
      cursor: pointer;
    }
  }
}

// Slick
.slick-belt {
  .banner {
    &:focus {
      outline: none;
    }
  }
  .slick-dots {
    bottom: 0 !important;
    li {
      button {
        position: relative;
        &:before {
          content: "";
          width: 20px;
          height: 5px;
          background-color: $primary-yellow;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
  .slick-arrow {
    z-index: 100;
    height: 2rem;
    width: 2rem;
  }
  .slick-prev {
    left: 25px !important;
    &::before {
      font-size: 2rem;
    }
  }
  .slick-next {
    right: 25px !important;
    &::before {
      font-size: 2rem;
    }
  }
}

.carousel-nav {
  .slick-arrow {
    z-index: 100;
  }
  .slick-prev {
    left: 0px !important;
    &::before {
      font-size: 1.5rem;
      color: rgb(100, 100, 100);
    }
  }
  .slick-next {
    right: 0px !important;
    &::before {
      font-size: 1.5rem;
      color: rgb(100, 100, 100);
    }
  }
}

.update-image-slider {
  .slick-dots {
    bottom: -40px !important;
    li {
      button {
        position: relative;
        &:before {
          content: "";
          width: 20px;
          height: 5px;
          background-color: $primary-yellow;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
  .slick-arrow {
    z-index: 100;
  }
  .slick-prev {
    left: -1.5rem !important;
    &::before {
      font-size: 1.5rem;
      color: rgb(100, 100, 100);
    }
  }
  .slick-next {
    right: -1.5rem !important;
    &::before {
      font-size: 1.5rem;
      color: rgb(100, 100, 100);
    }
  }
}

html,
body {
  height: 100%;
}
// body {
//   margin: 0;
//   font-family: Roboto, "Helvetica Neue", sans-serif;
// }

// Profile Image
.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid gold;
  img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
}

.user-info {
  .profile-image {
    width: 30px;
    height: 30px;
    img {
      min-height: 110%;
    }
  }
}

.updates-user-info {
  .profile-image {
    width: 50px;
    height: 50px;
  }
}

.custom-input {
  .profile-image {
    width: 160px;
    height: 160px;
  }
}

.success-dialog {
  background: #00c09e;
  .dialog-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .dialog-message {
      color: white;
    }
  }
  .close-btn {
    border: none;
    background: none;
    &:focus {
      outline: none;
    }
    &:after {
      content: "\f057";
      font-family: "Font Awesome\ 5 Free";
      font-weight: bold;
      font-size: 1.3rem;
      color: white;
    }
  }
}

.error-dialog {
  background: #ff3b4f;
  .dialog-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .dialog-message {
      color: white;
    }
  }
  .close-btn {
    border: none;
    background: none;
    &:focus {
      outline: none;
    }
    &:after {
      content: "\f057";
      font-family: "Font Awesome\ 5 Free";
      font-weight: bold;
      font-size: 1.3rem;
      color: white;
    }
  }
}

.mat-expansion-panel {
  .mat-expansion-panel-header {
    font-size: 1rem;
    background: #4e89ae !important;
    &:hover {
      background: #4e89ae !important;
    }
  }
  .mat-expansion-panel-header-title {
    color: white;
    font-weight: bold;
  }
  .mat-expansion-indicator::after {
    color: white;
  }
  .mat-expansion-panel-body {
    padding-bottom: 3rem !important;
    padding-top: 3rem !important;
  }
}
