.main-search {
    background: white;
}

.video-container {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 95vh;
    overflow: hidden;
}

.video-container video {
    min-width: 100vw;
    min-height: 95vh;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-holder {
    height: inherit;
    width: inherit;
    text-align: center;
    transform: translate(0%, 20%);
}

.mat-form-field-box {
    color: white !important;
    width: 30vw;
    height: auto;
}

.search-box {
    width: auto;
    height: 30vh;
}

::ng-deep .mat-form-field .mat-form-field-flex {
    color: white !important;
    background-color: white !important;
}

::ng-deep input.mat-input-element {
    color: #484a4c;
  }
  
/*
::ng-deep .mat-input-element::placeholder{
    color: black;
}
*/