.main-search {
  background: white;
  position: relative;
}

.video-container {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 95vh;
  overflow: hidden;
}

.video-container video {
  min-width: 100vw;
  min-height: 95vh;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-holder {
  //   height: inherit;
  //   width: inherit;
  //   text-align: center;
  //   transform: translate(0%, 20%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  .content-holder-inner {
    text-align: center;
  }
  span {
    display: block;
    color: white;
  }
  .hero-text {
    color: white;
    font-weight: 600;
    margin-bottom: 1.5rem;
    font-size: 2.7rem;
    @media (min-width: 1440px) {
      font-size: 3.5rem;
    }
  }
  .hero-small {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
}

.mat-form-field-box {
  color: white !important;
  width: 30vw;
  height: auto;
}

.search-box {
  width: auto;
  .search-box-inner {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
  }
  .search-banner-btn {
    color: white;
    background: #fed45f;
    height: 100%;
    display: block;
    width: 60px;
    height: 60px;
    border: none;
  }
  .full-mobile {
    @media (max-width: 991px) {
      width: 100%;
    }
  }
}

::ng-deep .mat-form-field .mat-form-field-flex {
  color: white !important;
  background-color: white !important;
}

::ng-deep input.mat-input-element {
  color: #484a4c;
}

::ng-deep .mat-form-field-flex {
  height: 60px !important;
}

/*
::ng-deep .mat-input-element::placeholder{
    color: black;
}
*/
