<div class="main-search">
    <div class="video-container">
        <!-- <iframe style="height: inherit; width: inherit;" src="https://www.youtube.com/embed/EGI2L-r_blU" frameborder="0" 
            autoplay allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <video loop [muted]="true" autoplay>
            <source src="https://test-video-bucket-darren.s3-ap-southeast-1.amazonaws.com/test.mp4" type="video/mp4" />
        </video>
        <div class="content-holder">
            <div>
                <span style="color: white; font-size: 5rem;">Building Good From The Ground Up</span>
            </div>
            <div>
                <span style="color: white; font-size: 1.25rem;">Find initiatives and activities to volunteer at from all around Singapore</span>
            </div>
            <div class="search-box">
                <form [formGroup]="searchParams" (ngSubmit)="initiateSearch()">
                    <mat-form-field class="mat-form-field-box" appearance="outline">
                        <input matInput formControlName="nameParams" placeholder="Search Kampong">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="locationParams" multiple disableOptionCentering placeholder="Location">
                            <mat-optgroup
                            *ngFor="let group of locationList"
                            [label]="group.name"
                            >
                                <mat-option
                                *ngFor="let location of group.group"
                                [value]="location"
                                >
                                {{ location }}
                                </mat-option>
                            </mat-optgroup>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="categoryParams" multiple disableOptionCentering placeholder="Category">
                            <mat-optgroup
                            *ngFor="let group of categoryList"
                            [label]="group.name"
                            >
                                <mat-option
                                *ngFor="let category of group.group"
                                [value]="category"
                                >
                                {{ category }}
                                </mat-option>
                            </mat-optgroup>
                        </mat-select>
                    </mat-form-field>
                    <button mat-icon-button type="submit" style="height: 63px; width: 60px;" color="primary">
                        <mat-icon>search</mat-icon>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>