<div class="main-search">
    <div class="video-container">
        <video loop muted autoplay>
            <source src="../../../assets/images/singapore.mp4" type="video/mp4" />
        </video>
        <div class="content-holder">
            <div>
                <h1 style="color: white; font-size: 5rem;">Let's play a role!</h1>
            </div>
            <div>
                <form>
                    <input type="text">
                    <input type="text">
                    <input type="text">
                </form>
            </div>
        </div>
    </div>
</div>