.update-image-slider {
  margin: 2rem 0;
  .image-container {
    &:focus {
      outline: none;
    }
    img {
      width: 100% !important;
      height: 300px;
      object-fit: cover;
      padding: 0 1rem;
    }
  }
}
